@(usuario: Usuario, grupo: SqlRow, grupos: List[SqlRow], reunion: Reunion, archivos: List[Archivo], errorImagen: String)

@app(title = reunion.nombre, usuario.nombre) {

    <script>
        $(document).ready(function() {
            $("[rel=tooltip]").tooltip();
            @if(errorImagen != "") {
                $('#creaGrupo').modal('show');
            }
        });

        function modalDocumentos() {
            $('#document').modal('show');
        }
        function modalGrupos() {
            $('#creaGrupo').modal('show');
        }
        function modalConfirmar(arId, reunionId, grupoId, nombre) {
            document.getElementById('file').innerHTML = nombre;
            document.getElementById("id1").value = arId;
            document.getElementById("id2").value = reunionId;
            document.getElementById("id3").value = grupoId;
            $('#modalConfirmar').modal('show');
        }
    </script>

    <div class="row">
        <div class="span3">
            <div class="panel">
                <ul class="nav">
                    <li>
                        <h5>
                            <a href="@routes.Contactos.muestraElPerfil(usuario.correo)" rel="tooltip" title="Ver mi perfil">
                                <img class="img-rounded" style="width: 38px; height: 38px;" src="/assets/images/usuarios/@usuario.imagen" alt="imagen usuario">
                                @usuario.nombre
                            </a>
                        </h5>
                    </li>
                    <li>
                        <h5>
                            Mi información
                            <a href="@routes.Cuenta.perfil" rel="tooltip" title="Editar mi información personal">(editar)</a>
                        </h5>
                    </li>
                    <li>
                        <p><strong>Ciudad:</strong> @usuario.ciudad</p>
                    </li>
                    <li>
                        <p><strong>Correo:</strong> @usuario.correo</p>
                    </li>
                    @if(usuario.telefono!=null){
                        <li>
                            <p><strong>Telefono:</strong> @usuario.telefono</p>
                        </li>
                    }
                </ul>
                <hr>
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header">
                        Grupos
                    </li>
                    @if(!grupos.isEmpty()) {
                        @if(grupos.length <= 8) {
                            @for(g <- grupos) {
                                <li>
                                    <a href='@routes.Grupos.index(g.getString("id").toLong)' rel="tooltip" title='@g.getString("descripcion")' data-toggle="top">
                                        <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@g.getString("id")/@g.getString("imagen")' alt="imagen grupo">
                                        @g.getString("nombre")
                                    </a>
                                </li>
                            }
                        } else {
                            <li>
                                <a href='@routes.Grupos.index(grupos(0).getString("id").toLong)' rel="tooltip" title='@grupos(0).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(0).getString("id")/@grupos(0).getString("imagen")' alt="imagen grupo">
                                    @grupos(0).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(1).getString("id").toLong)' rel="tooltip" title='@grupos(1).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(1).getString("id")/@grupos(1).getString("imagen")' alt="imagen grupo">
                                    @grupos(1).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(2).getString("id").toLong)' rel="tooltip" title='@grupos(2).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(2).getString("id")/@grupos(2).getString("imagen")' alt="imagen grupo">
                                    @grupos(2).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(3).getString("id").toLong)' rel="tooltip" title='@grupos(3).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(3).getString("id")/@grupos(3).getString("imagen")' alt="imagen grupo">
                                    @grupos(3).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(4).getString("id").toLong)' rel="tooltip" title='@grupos(4).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(4).getString("id")/@grupos(4).getString("imagen")' alt="imagen grupo">
                                    @grupos(4).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(5).getString("id").toLong)' rel="tooltip" title='@grupos(5).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(5).getString("id")/@grupos(5).getString("imagen")' alt="imagen grupo">
                                    @grupos(5).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(6).getString("id").toLong)' rel="tooltip" title='@grupos(6).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(6).getString("id")/@grupos(6).getString("imagen")' alt="imagen grupo">
                                    @grupos(6).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href="@routes.Grupos.muestraGrupos(0)" rel="tooltip" title='Todos los grupos' data-toggle="top">Más...</a>
                            </li>
                        }
                    }
                </ul>
                @if(!Usuario.cuentaInactiva(usuario.correo)) {
                    <a href="#" role="button" class="btn btn-large btn-success" data-toggle="modal"onClick=modalGrupos() >crear grupo</a>
                }
            </div>
        </div>

        <div class="span9" style="box-shadow: 2px 2px 5px 2px #999;">
            <ul class="nav nav-tabs">
                <li><a href='@routes.Grupos.index(grupo.getString("id").toLong)'>Inicio</a></li>
                <li class="active"><a href='@routes.Grupos.muestraReuniones(grupo.getString("id").toLong)'>Reuniones</a></li>
                <li><a href='@routes.Grupos.muestraMiembros(grupo.getString("id").toLong)'>Integrantes</a></li>
                @if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
                <li><a href='@routes.Grupos.muestraPreferencias(grupo.getString("id").toLong)'>Preferencias</a></li>
                }
            </ul>
            <div class="page-header">
                <h1>
                    @reunion.nombre <small> @reunion.descripcion </small>
                    <input type="hidden" name="id" value='@grupo.getString("id")'>
                    @if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
                    <button class="btn btn-success pull-right" onClick="modalDocumentos()">Subir Documento</button>
                    }
                </h1>
            </div>
            <div>
                <h2>Documentos</h2>
                @if(!archivos.isEmpty()) {
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Autor</th>
                                <th>Descargar</th>
                                @if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
                                <th>Eliminar</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for(ar <- archivos) {
                                <tr>
                                    <td>@ar.nombre</td>
                                    <td>@ar.fecha.format("dd/MM/yyyy") @ar.hora.format("HH:mm")</td>
                                    <td>@Usuario.getNombre(ar.usuario.correo)</td>
                                    <td><a class="btn btn-primary" href='@routes.Grupos.descargarArchivo(ar.id, grupo.getString("id").toLong)'>descargar</a></td>
                                    @if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
                                    <td><button class="btn btn-danger" onClick='modalConfirmar(@ar.id, @reunion.id, @grupo.getString("id").toLong, "@ar.nombre")'>eliminar</button></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
}

    <!-- Modal subir archivo -->
    <div class="modal hide fade" id="document">
        <form action='@routes.Grupos.subeArchivo(reunion.id, grupo.getString("id").toLong)' class="form-horizontal" name="documentos" enctype="multipart/form-data" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Subir un nuevo documento</h3>
            </div>
            <div class="modal-body">
                <input class="input-file" type="file" name="nombre" required>
                <input type="hidden" name="reunion.id" value="@reunion.id" id="reunion">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
                <input type="submit" class="btn btn-primary" value="Subir">
            </div>
        </form>
    </div>

    <!-- Modal crear grupo -->
    <div class="modal hide fade" id="creaGrupo">
        <form action='@routes.Grupos.crearGrupo(6, grupo.getString("id").toLong, reunion.id)' class="form-horizontal" name="grupo" enctype="multipart/form-data" method="post">
            <div class="modal-header">
                <a href='@routes.Grupos.verReunion(grupo.getString("id").toLong, reunion.id)' class="close" aria-hidden="true">&times;</a>
                <h3>Grupo Nuevo</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Nombre del grupo</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" name="nombre" autofocus="autofocus" placeholder="Nombre del grupo" maxlength="25" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Descripcion</label>
                    <div class="controls">
                        <textarea class="input-xlarge" rows="6" name="descripcion" maxlength="150" placeholder="Descripción del grupo" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                <label class="control-label" for="imagen">Imagen de grupo</label>
                    <div class="controls">
                        <img style="width: 90px; height: 90px;" src="/assets/grupos/group.png" alt="imagen grupo">
                        <input class="input-file" id="imagen" type="file" name="imagen"><br>
                        tamaño maximo = 1 MB
                    </div>
                </div>
                <div class="control-group>">
                    <div class="controls">
                        <span style="color: red;">@errorImagen</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href='@routes.Grupos.verReunion(grupo.getString("id").toLong, reunion.id)' class="btn">Cerrar</a>
                <input type="submit" class="btn btn-primary" value="Crear">
            </div>
        </form>
    </div>

    <!-- Modal de confirmacion -->
    <div class="modal hide fade" id="modalConfirmar">
        <form action="@routes.Grupos.eliminarArchivo()" id="confirma" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Eliminar Contacto</h3>
            </div>
            <div class="modal-body">
                ¿Esta seguro de eliminar el archivo "<span id="file"></span>"?
                <input type="hidden" name="id" id="id1">
                <input type="hidden" name="reunion.id" id="id2">
                <input type="hidden" name="nombre" id="id3">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">No</a>
                <input type="submit" class="btn btn-primary" value="Si">
            </div>
        </form>
    </div>