@(usuario: Usuario, grupo: SqlRow, grupos: List[SqlRow], integrantes: List[Integrante], contactos: List[Contacto])

@app(title = grupo.getString("nombre"), usuario.nombre) {
	
	<script type="text/javascript">	
		$(document).ready(function() {
			
		});
		
		function modalMiembros() {
			$('#agregaIntegrantes').modal('show');
		}
		function modalGrupos() {
			$('#creaGrupo').modal('show');
		}		
	</script>

	<div class="row-fluid">
		<div class="span3">
			
			<div class="well well-small">
				<ul class="nav nav-list">
					<li> <img class="img-polaroid" style="width: 90px; height: 90px;" src="/assets/images/usuarios/@usuario.imagen" alt="imagen usuario"> </li>
					<li><b>@usuario.nombre</b></li>					
				</ul>
			</div>

			<div class="well well-small"> 
   				<form name="muestraGrupo">
	   				<ul class="nav nav-pills nav-stacked">
	   					<li class="nav-header">
	   						Grupos				
	   					</li>
	   					@if(!grupos.isEmpty()) {
		   					@for(g <- grupos) {		   						
			   					<li @if(grupo.getString("id") == g.getString("id")) { class="active" })>
			   						<a href='@routes.Grupos.index(g.getString("id").toLong)'>
			   							<img class="img-polaroid" style="width: 32px; height: 32px;" src='/assets/grupos/@g.getString("imagen")' alt="imagen grupo">
			   							@g.getString("nombre")
			   						</a>
			   					</li>		   						
		   					}
	   					}
	   				</ul>
   				</form>
   				<a href="#" role="button" class="btn btn-mini" data-toggle="modal"onClick=modalGrupos() >crear grupo</a>
   			</div>
		</div>
		
		<div class="span7">
			<div class="page-header">
				<h1>				
					@grupo.getString("nombre") <small> Preferencias </small>					
					<input type="hidden" name="id" value='@grupo.getString("id")'>
					<a class="btn btn-danger pull-right" href='@routes.Grupos.eliminaGrupo(grupo.getString("id").toLong)'>Eliminar grupo</a>
				</h1>
			</div>
			
			<form class="form-horizontal" action="@routes.Grupos.editaGrupo" enctype="multipart/form-data" method="post">
				<div class="control-group">
					<label class="control-label" for="nombre">Nombre del grupo</label>
					<div class="controls">
						<input type="text" id="nombre" name="nombre" value='@grupo.getString("nombre")' required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="descripcion">Descripcion del grupo</label>
					<div class="controls">
						<textarea id="descripcion" name="descripcion" rows="3" cols="3">@grupo.getString("descripcion")</textarea>
					</div>
				</div>
				<div class="control-group">
				<label class="control-label" for="imagen">Imagen del grupo</label>
					<div class="controls">
						<img style="width: 90px; height: 90px;" src='/assets/grupos/@grupo.getString("imagen")' alt="imagen grupo">
						<br>
						<input class="input-file" id="imagen" type="file" name="imagen"><br>
						tamaño maximo = 1 MB
					</div>
				</div>
				<input type="hidden" name="id" value='@grupo.getString("id").toLong'>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary pull-right">Guardar Cambios</button>
				</div>
			</form>
		</div>	
		
		<div class="span2">
			<div class="tabbable tabs-right">
			<ul class="nav nav-tabs">
				<li><a href='@routes.Grupos.muestraReuniones(grupo.getString("id").toLong)'>Reuniones</a></li>
				<li><a href='@routes.Grupos.muestraMiembros(grupo.getString("id").toLong)'>Integrantes</a></li>
				@if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
				<li class="active"><a href='@routes.Grupos.muestraPreferencias(grupo.getString("id").toLong)'>Preferencias</a></li>
				}
			</ul>
			</div>
		</div>
	</div>
	
	<!-- Modal crear grupo -->
	<div class="modal hide fade" id="creaGrupo">
		<form action="@routes.Grupos.crearGrupo" class="form-horizontal" name="grupo" enctype="multipart/form-data" method="post">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Grupo Nuevo</h3>
			</div>
			<div class="modal-body">
				<div class="control-group">
	    			<label class="control-label">Nombre del grupo</label>
	    			<div class="controls">
	    				<input class="input-medium" type="text" name="nombre" autofocus="autofocus" required>
	    			</div>
	    		</div>
	    		
	    		<div class="control-group">
	    			<label class="control-label">Descripcion</label>
	    			<div class="controls">
	    				<textarea class="input-xlarge span3" name="descripcion" maxlength="500"></textarea>
	    			</div>
	    		</div>
	    		
	    		<div class="control-group">
				<label class="control-label" for="imagen">Imagen de grupo</label>
					<div class="controls">
						<img style="width: 90px; height: 90px;" src="/assets/grupos/group.png" alt="imagen grupo">
						<input class="input-file" id="imagen" type="file" name="imagen"><br>
						tamaño maximo = 1 MB
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
				<input type="submit" class="btn btn-primary" value="Crear">
			</div>
		</form>		
	</div>
}