@(usuario: Usuario, grupo: SqlRow, grupos: List[SqlRow], integrantes: List[Integrante], contactos: List[Contacto])

@app(title = grupo.getString("nombre"), usuario.nombre) {
	
	<script type="text/javascript">	
		$(document).ready(function() {
			$("[rel=tooltip]").tooltip();
			$("[rel=popover]").popover({
				trigger: 'focus',
				content: '<a href="#">ver perfil</a>',
				animate: false
			});
		});
		
		function modalMiembros() {
			$('#agregaIntegrantes').modal('show');
		}
		
		function modalGrupos() {
			$('#creaGrupo').modal('show');
		}		
	</script>
	
	<style>
		.achievements-wrapper { height: 54px; overflow: auto; }
	</style>
	
	<div class="row-fluid">
		<div class="span3">
			
			<div class="well well-small">
				<ul class="nav nav-list">
					<li> <img class="img-polaroid" style="width: 90px; height: 90px;" src="/assets/images/usuarios/@usuario.imagen" alt="imagen usuario"> </li>
					<li><b>@usuario.nombre</b></li>
					
				</ul>
			</div>

			<div class="well well-small"> 
   				<form name="muestraGrupo">
	   				<ul class="nav nav-pills nav-stacked">
	   					<li class="nav-header">
	   						Grupos				
	   					</li>
	   					@if(!grupos.isEmpty()) {
		   					@for(g <- grupos) {		   						
			   					<li @if(grupo.getString("id") == g.getString("id")) { class="active" })>
			   						<a href='@routes.Grupos.index(g.getString("id").toLong)'>
			   							<img class="img-polaroid" style="width: 32px; height: 32px;" src='/assets/grupos/@g.getString("imagen")' alt="imagen grupo">
			   							@g.getString("nombre")
			   						</a>
			   					</li>		   						
		   					}
	   					}
	   				</ul>
   				</form>
   				<a href="#" role="button" class="btn btn-mini" data-toggle="modal"onClick=modalGrupos() >crear grupo</a>
   			</div>

<!--    			<div class="well well-small"> -->
<!--    				<ul class="nav nav-pills nav-stacked"> -->
<!--    					<li class="nav-header">Miembros</li> -->
<!--    				</ul> -->
<!--    				<ul class="unstyled"> -->
<!--    					@for(a <- integrantes) { -->
<!-- 	   					<li> -->
<!-- 		   					@if(a.tipo == 1) { -->
<!-- 		   						<img class="img-polaroid" style="width: 32px; height: 32px;" src="/assets/images/usuarios/@Usuario.getImagen(a.usuario.correo)" alt="imagen usuario"> -->
<!-- 		   						@Usuario.getNombre(a.usuario.correo) (Administrador) -->
<!-- 		   					} -->
<!-- 	   					</li> -->
<!-- 	   				} -->
<!-- 	   				@for(i <- integrantes) { -->
<!-- 	   					@if(i.tipo != 1) { -->
<!-- 		   					<li> -->
<!-- 		   						<img class="img-polaroid" style="width: 32px; height: 32px;" src="/assets/images/usuarios/@Usuario.getImagen(i.usuario.correo)" alt="imagen usuario"> -->
<!-- 		   						@Usuario.getNombre(i.usuario.correo)	 -->
<!-- 		   					</li> -->
<!-- 	   					} -->
<!-- 	   				} -->
<!--    				</ul> -->
<!--    				<a href="#" role="button" class="btn btn-mini" data-toggle="modal" onClick=modalMiembros() >agregar miembros</a> -->
<!--    			</div> -->	
		</div>
		
		<div class="span7">
			<div class="page-header">
				<h1>@grupo.getString("nombre")<small> @grupo.getString("descripcion")</small></h1>
				@for(c <- integrantes) {
					@if(c.tipo == 1) {
						<img class="img-polaroid" style="width: 32px; height: 32px;" src="/assets/images/usuarios/@Usuario.getImagen(c.usuario.correo)" alt="imagen usuario">
		   				<strong>@Usuario.getNombre(c.usuario.correo)</strong> creo el grupo.
					}
				}
				<br><br>
				@if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
				<div>
				<a href="#" role="button" class="btn btn-success" data-toggle="modal" onClick=modalMiembros() >
					<i class="icon-plus"> </i>
					Agregar miembro
				</a>
				</div>
				}
				<br>
				<div class="well achievements-wrapper">
					@for(mi <- integrantes) {
						<a class="inte" href="#" rel="popover" title='@Usuario.getNombre(mi.usuario.correo)' data-placement="top">
							<img class="img-polaroid" style="width: 50px; height: 50px;" src="/assets/images/usuarios/@Usuario.getImagen(mi.usuario.correo)" alt="imagen usuario">
						</a>
					}
					<a class="pull-right" href='@routes.Grupos.muestraMiembros(grupo.getString("id").toLong)'><i class="icon-cog"></i></a>
				</div>
			</div>
			
		</div>	
		
		<div class="span2">
			<div class="tabbable tabs-right">
			<ul class="nav nav-tabs">
<!--				<li class="active"><a href="#">@grupo.getString("nombre")</a></li> -->
				<li><a href='@routes.Grupos.muestraReuniones(grupo.getString("id").toLong)'>Reuniones</a></li>
				<li><a href='@routes.Grupos.muestraDocumentos(grupo.getString("id").toLong)'>Documentos</a></li>
				<li><a href='@routes.Grupos.muestraMiembros(grupo.getString("id").toLong)'>Miembros</a></li>
				@if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
				<li><a href='@routes.Grupos.muestraPreferencias(grupo.getString("id").toLong)'>Preferencias</a></li>
				}
			</ul>
			</div>
		</div>
		
<!-- 		<div class="span3"> -->
<!-- 			<ul class="nav nav-tabs nav-stacked"> -->
<!-- 				<li class="active"><a href="#">@grupo.getString("nombre")</a></li> -->
<!-- 				<li><a href='@routes.Grupos.muestraReuniones(grupo.getString("id").toLong)'>Reuniones</a></li> -->
<!-- 				<li><a href='@routes.Grupos.muestraDocumentos(grupo.getString("id").toLong)'>Documentos</a></li> -->
<!-- 				<li><a href='@routes.Grupos.muestraMiembros(grupo.getString("id").toLong)'>Miembros</a></li> -->
<!-- 				<li><a href='@routes.Grupos.muestraPreferencias(grupo.getString("id").toLong)'>Preferencias</a></li> -->
<!-- 			</ul> -->
<!-- 		</div> -->
	</div>
	
	
	<!-- Modal agrega miembros -->
	<div class="modal hide fade" id="agregaIntegrantes">
		<form action="@routes.Grupos.agregaIntegrante" class="form-horizontal" name="integrante" method="post">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Agregar Miembros</h3>
			</div>
			<div class="modal-body">
				<div class="control-group">
	    			<label class="control-label">Nombre del miembro</label>
	    			<div class="controls">


						<!-- 
						Esta enviando solo el nombre del usuario, en el controlador
						hace una consulta para obtener el correo del usuario.
						
						Importante. solo sirve si el nombre es unico,	
						 -->
	    				<input type="text" id="search" data-provide="typeahead" autofocus="autofocus" data-items="4" autocomplete="off" name="usuario.correo">
	    			</div>
	    		</div>
	    		<script type="text/javascript">
		    		var contactos = [
		 							@if(!contactos.isEmpty()) {
		 								@for(c <- contactos) {
		 									'@Usuario.getNombre(c.usuario2.correo)',																	
		 								}
		 							}
		 						];
		 			$('#search').typeahead({
		 				source: contactos
		 			});
	    		</script>
	    		<input type="hidden" name="grupo.id" value='@grupo.getString("id")'>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
				<input type="submit" class="btn btn-primary" value="Agregar">
			</div>
		</form>		
	</div>
}