@(usuario: Usuario, grupo: SqlRow, grupos: List[SqlRow], integrantes: List[Integrante], contactos: List[Contacto])

@app(title = grupo.getString("nombre"), usuario.nombre) {
	
	<script type="text/javascript">	
		$(document).ready(function() {
			
		});			
	</script>

	<div class="row-fluid">
		<div class="span3">
			
			<div class="well well-small">
				<ul class="nav nav-list">
					<li> <img class="img-polaroid" style="width: 90px; height: 90px;" src="/assets/images/usuarios/@usuario.imagen" alt="imagen usuario"> </li>
					<li><b>@usuario.nombre</b></li>					
				</ul>
			</div>

			<div class="well well-small"> 
   				<form name="muestraGrupo">
	   				<ul class="nav nav-pills nav-stacked">
	   					<li class="nav-header">
	   						Grupos				
	   					</li>
	   					@if(!grupos.isEmpty()) {
		   					@for(g <- grupos) {		   						
			   					<li @if(grupo.getString("id") == g.getString("id")) { class="active" })>
			   						<a href='@routes.Grupos.index(g.getString("id").toLong)'>
			   							<img class="img-polaroid" style="width: 32px; height: 32px;" src='/assets/grupos/@g.getString("imagen")' alt="imagen grupo">
			   							@g.getString("nombre")
			   						</a>
			   					</li>		   						
		   					}
	   					}
	   				</ul>
   				</form>
   				<a href="#" role="button" class="btn btn-mini" data-toggle="modal"onClick=modalGrupos() >crear grupo</a>
   			</div>

<!--    			<div class="well well-small"> -->
<!--    				<ul class="nav nav-pills nav-stacked"> -->
<!--    					<li class="nav-header">Miembros</li> -->
<!--    				</ul> -->
<!--    				<ul class="unstyled"> -->
   					
<!-- 	   				@if(!integrantes.isEmpty()) { -->
<!-- 	   					@for(a <- integrantes) { -->
<!-- 	   						<li> -->
<!-- 		   						@if(a.tipo == 1) { -->
<!-- 		   							<img class="img-polaroid" style="width: 32px; height: 32px;" src="/assets/images/usuarios/@Usuario.getImagen(a.usuario.correo)" alt="imagen usuario"> -->
<!-- 		   							@Usuario.getNombre(a.usuario.correo) (Administrador) -->
<!-- 		   						} -->
<!-- 	   						</li> -->
<!-- 	   					} -->
	   				
<!-- 	   					@for(i <- integrantes) { -->
<!-- 	   						@if(i.tipo != 1) { -->
<!-- 		   						<li> -->
<!-- 		   							<img class="img-polaroid" style="width: 32px; height: 32px;" src="/assets/images/usuarios/@Usuario.getImagen(i.usuario.correo)" alt="imagen usuario"> -->
<!-- 		   							@Usuario.getNombre(i.usuario.correo)	 -->
<!-- 		   						</li> -->
<!-- 	   						} -->
<!-- 	   					} -->
<!-- 	   				} -->
<!--    				</ul> -->
<!--    				<a href="#" role="button" class="btn btn-mini" data-toggle="modal" onClick=modalMiembros() >agregar miembros</a> -->
<!--    			</div> -->			
		</div>
		
		<div class="span7">
			<div class="page-header">
				<form action="#" method="post">
					<h1>				
						@grupo.getString("nombre") <small> Documentos </small>					
						<input type="hidden" name="id" value='@grupo.getString("id")'>
						@if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
						<input class="btn btn-success pull-right" type="submit" value="Subir documento">
						}					
					</h1>
				</form> 
			</div>
		</div>	
		
		<div class="span2">
			<div class="tabbable tabs-right">
			<ul class="nav nav-tabs">
<!--				<li class="active"><a href="#">@grupo.getString("nombre")</a></li> -->
				<li><a href='@routes.Grupos.muestraReuniones(grupo.getString("id").toLong)'>Reuniones</a></li>
				<li class="active"><a href='@routes.Grupos.muestraDocumentos(grupo.getString("id").toLong)'>Documentos</a></li>
				<li><a href='@routes.Grupos.muestraMiembros(grupo.getString("id").toLong)'>Miembros</a></li>
				@if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
				<li><a href='@routes.Grupos.muestraPreferencias(grupo.getString("id").toLong)'>Preferencias</a></li>
				}
			</ul>
			</div>
		</div>
		
<!-- 		<div class="span3"> -->
<!-- 			<ul class="nav nav-tabs nav-stacked"> -->
<!-- 				<li class="active"><a href="#">@grupo.getString("nombre")</a></li> -->
<!-- 				<li><a href='@routes.Grupos.muestraReuniones(grupo.getString("id").toLong)'>Reuniones</a></li> -->
<!-- 				<li><a href='@routes.Grupos.muestraDocumentos(grupo.getString("id").toLong)'>Documentos</a></li> -->
<!-- 				<li><a href='@routes.Grupos.muestraMiembros(grupo.getString("id").toLong)'>Miembros</a></li> -->
<!-- 				<li><a href='@routes.Grupos.muestraPreferencias(grupo.getString("id").toLong)'>Preferencias</a></li> -->
<!-- 			</ul> -->
<!-- 		</div> -->
	</div>
}