@(usuario: Usuario, grupo: SqlRow, grupos: List[SqlRow], integrantes: List[Integrante], contactos: List[Contacto], errorImagen: String)

@app(title = grupo.getString("nombre"), usuario.nombre) {

    <style>
        .span7 .page-header h1 a { font-weight: normal; }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            $("[rel=tooltip]").tooltip();
            // si hay un error al subir la imagen del grupo.
            @if(errorImagen != "") {
                $('#creaGrupo').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            }
        });

        function modalMiembros() {
            $('#agregaIntegrantes').modal({
                backdrop: 'static',
                keyboard: false
            });
        }
        function modalGrupos() {
            $('#creaGrupo').modal({
                backdrop: 'static',
                keyboard: false
            });
        }
        function modalConfirmar(id, nombre) {
            document.getElementById('grupo').innerHTML = nombre;
            document.getElementById('id').value = id;
            $('#modalConfirmar').modal({
                backdrop: 'static',
                keyboard: false
            });
        }
    </script>

    <div class="row">
        <div class="span3">
            <div class="panel">
                <ul class="nav">
                    <li>
                        <h5>
                            <a href="@routes.Contactos.muestraElPerfil(usuario.correo)" rel="tooltip" title="Ver mi perfil">
                                <img class="img-rounded" style="width: 38px; height: 38px;" src="/assets/images/usuarios/@usuario.imagen" alt="imagen usuario">
                                @usuario.nombre
                            </a>
                        </h5>
                    </li>
                    <li>
                        <h5>
                            Mi información
                            <a href="@routes.Cuenta.perfil" rel="tooltip" title="Editar mi información personal">(editar)</a>
                        </h5>
                    </li>
                    <li>
                        <p><strong>Ciudad:</strong> @usuario.ciudad</p>
                    </li>
                    <li>
                        <p><strong>Correo:</strong> @usuario.correo</p>
                    </li>
                    @if(usuario.telefono!=null){
                        <li>
                            <p><strong>Tel&eacutefono:</strong> @usuario.telefono</p>
                        </li>
                    }
                </ul>
                <hr>
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header">
                        Grupos
                    </li>
                    @if(!grupos.isEmpty()) {
                        @if(grupos.length <= 8) {
                            @for(g <- grupos) {
                                <li>
                                    <a href='@routes.Grupos.index(g.getString("id").toLong)' rel="tooltip" title='@g.getString("descripcion")' data-toggle="top">
                                        <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@g.getString("id")/@g.getString("imagen")' alt="imagen grupo">
                                        @g.getString("nombre")
                                    </a>
                                </li>
                            }
                        } else {
                            <li>
                                <a href='@routes.Grupos.index(grupos(0).getString("id").toLong)' rel="tooltip" title='@grupos(0).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(0).getString("id")/@grupos(0).getString("imagen")' alt="imagen grupo">
                                    @grupos(0).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(1).getString("id").toLong)' rel="tooltip" title='@grupos(1).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(1).getString("id")/@grupos(1).getString("imagen")' alt="imagen grupo">
                                    @grupos(1).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(2).getString("id").toLong)' rel="tooltip" title='@grupos(2).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(2).getString("id")/@grupos(2).getString("imagen")' alt="imagen grupo">
                                    @grupos(2).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(3).getString("id").toLong)' rel="tooltip" title='@grupos(3).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(3).getString("id")/@grupos(3).getString("imagen")' alt="imagen grupo">
                                    @grupos(3).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(4).getString("id").toLong)' rel="tooltip" title='@grupos(4).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(4).getString("id")/@grupos(4).getString("imagen")' alt="imagen grupo">
                                    @grupos(4).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(5).getString("id").toLong)' rel="tooltip" title='@grupos(5).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(5).getString("id")/@grupos(5).getString("imagen")' alt="imagen grupo">
                                    @grupos(5).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(6).getString("id").toLong)' rel="tooltip" title='@grupos(6).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(6).getString("id")/@grupos(6).getString("imagen")' alt="imagen grupo">
                                    @grupos(6).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href="@routes.Grupos.muestraGrupos(0)" rel="tooltip" title='Todos los grupos' data-toggle="top">Más...</a>
                            </li>
                        }
                    }
                </ul>
                @if(!Usuario.cuentaInactiva(usuario.correo)) {
                    <a href="#" role="button" class="btn btn-large btn-success" data-toggle="modal"onClick=modalGrupos() >crear grupo</a>
                }
            </div>
        </div>

        <div class="span9" style="box-shadow: 2px 2px 5px 2px #999;">
            <ul class="nav nav-tabs">
                <li><a href='@routes.Grupos.index(grupo.getString("id").toLong)'>Inicio</a></li>
                <li><a href='@routes.Grupos.muestraReuniones(grupo.getString("id").toLong)'>Reuniones</a></li>
                <li><a href='@routes.Grupos.muestraMiembros(grupo.getString("id").toLong)'>Integrantes</a></li>
                @if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
                <li class="active"><a href='@routes.Grupos.muestraPreferencias(grupo.getString("id").toLong)'>Preferencias</a></li>
                }
            </ul>
            <div class="page-header">
                <h1>
                    @grupo.getString("nombre") <small> Preferencias </small>
                    <input type="hidden" name="id" value='@grupo.getString("id")'>
                    <a href="" class="btn btn-danger pull-right" data-toggle="modal" onClick="modalConfirmar('@grupo.getString("id")', '@grupo.getString("nombre")')">
                        <i class="icon-remove"> </i>
                        Eliminar grupo
                    </a>
                </h1>
            </div>
            <form class="form-horizontal" action="@routes.Grupos.editaGrupo" enctype="multipart/form-data" method="post">
                <div class="control-group">
                    <label class="control-label" for="nombre">Nombre del grupo</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" id="nombre" name="nombre" maxlength="25" value='@grupo.getString("nombre")' required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="descripcion">Descripci&oacuten del grupo</label>
                    <div class="controls">
                        <textarea class="input-xlarge" rows="6" id="descripcion" name="descripcion" maxlength="150" >@grupo.getString("descripcion")</textarea>
                    </div>
                </div>
                <div class="control-group">
                <label class="control-label" for="imagen">Imagen del grupo</label>
                    <div class="controls">
                        <img style="width: 90px; height: 90px;" src='/assets/grupos/@grupo.getString("id")/@grupo.getString("imagen")' alt="imagen grupo">
                        <br>
                        <input class="input-file" id="imagen" type="file" name="imagen"><br>
                    </div>
                </div>
                <input type="hidden" name="id" value='@grupo.getString("id").toLong'>
                <div>
                    <button type="submit" class="btn btn-primary pull-right">Guardar Cambios</button>
                    <br><br>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de confirmacion -->
    <div class="modal hide fade" id="modalConfirmar">
        <form action="@routes.Grupos.eliminaGrupo()" id="confirma" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Eliminar Grupo</h3>
            </div>
            <div class="modal-body">
                ¿Esta seguro de eliminar el grupo <span id="grupo"></span> definitivamente?
                <input type="hidden" name="id" id="id">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">No</a>
                <input type="submit" class="btn btn-primary" name="agrega" value="Si">
            </div>
        </form>
    </div>

    <!-- Modal crear grupo -->
    <div class="modal hide fade" id="creaGrupo">
        <form action='@routes.Grupos.crearGrupo(5, grupo.getString("id").toLong, 0)' class="form-horizontal" name="grupo" enctype="multipart/form-data" method="post">
            <div class="modal-header">
                <a href='@routes.Grupos.muestraPreferencias(grupo.getString("id").toLong)' class="close" aria-hidden="true">&times;</a>
                <h3>Grupo Nuevo</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Nombre del grupo</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" name="nombre" autofocus="autofocus" placeholder="Nombre del grupo" maxlength="25" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Descripci&oacuten</label>
                    <div class="controls">
                        <textarea class="input-xlarge" rows="6" name="descripcion" maxlength="150" placeholder="Descripción del grupo" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                <label class="control-label" for="imagen">Imagen de grupo</label>
                    <div class="controls">
                        <img style="width: 90px; height: 90px;" src="/assets/grupos/group.png" alt="imagen grupo">
                        <input class="input-file" id="imagen" type="file" name="imagen"><br>
                        tamaño maximo = 1 MB
                    </div>
                </div>
                <div class="control-group>">
                    <div class="controls">
                        <span style="color: red;">@errorImagen</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href='@routes.Grupos.muestraPreferencias(grupo.getString("id").toLong)' class="btn">Cerrar</a>
                <input type="submit" class="btn btn-primary" value="Crear">
            </div>
        </form>
    </div>
}
