@(usuario: Usuario, grupo: SqlRow, grupos: List[SqlRow], integrantes: List[Integrante], contactos: List[Contacto], reuniones: List[Reunion], errorImagen: String, miembros: Integer)

@app(title = grupo.getString("nombre"), usuario.nombre) {

    <style>
        .span7 .page-header h1 a { font-weight: normal; }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            $("[rel=tooltip]").tooltip();
            $("[rel=popover]").popover({
                trigger: 'focus',
                animate: false
            });

            // si hay un error al subir la imagen del grupo.
            @if(errorImagen != "") {
                $('#creaGrupo').modal('show');
            }
        });

        function enviarReunion() {
            document.reunion.submit();
        }
        function modalGrupos() {
            $('#creaGrupo').modal('show');
        }
    </script>

    <div class="row">
        <div class="span3">
            <div class="panel">
                <ul class="nav">
                    <li>
                        <h5>
                            <a href="@routes.Contactos.muestraElPerfil(usuario.correo)" rel="tooltip" title="Ver mi perfil">
                                <img class="img-rounded" style="width: 38px; height: 38px;" src="/assets/images/usuarios/@usuario.imagen" alt="imagen usuario">
                                @usuario.nombre
                            </a>
                        </h5>
                    </li>
                    <li>
                        <h5>
                            Mi información
                            <a href="@routes.Cuenta.perfil" rel="tooltip" title="Editar mi información personal">(editar)</a>
                        </h5>
                    </li>
                    <li>
                        <p><strong>Ciudad:</strong> @usuario.ciudad</p>
                    </li>
                    <li>
                        <p><strong>Correo:</strong> @usuario.correo</p>
                    </li>
                    @if(usuario.telefono!=null){
                        <li>
                            <p><strong>Telefono:</strong> @usuario.telefono</p>
                        </li>
                    }
                </ul>
                <hr>
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header">
                        Grupos
                    </li>
                    @if(!grupos.isEmpty()) {
                        @if(grupos.length <= 8) {
                            @for(g <- grupos) {
                                <li>
                                    <a href='@routes.Grupos.index(g.getString("id").toLong)' rel="tooltip" title='@g.getString("descripcion")' data-toggle="top">
                                        <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@g.getString("id")/@g.getString("imagen")' alt="imagen grupo">
                                        @g.getString("nombre")
                                    </a>
                                </li>
                            }
                        } else {
                            <li>
                                <a href='@routes.Grupos.index(grupos(0).getString("id").toLong)' rel="tooltip" title='@grupos(0).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(0).getString("id")/@grupos(0).getString("imagen")' alt="imagen grupo">
                                    @grupos(0).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(1).getString("id").toLong)' rel="tooltip" title='@grupos(1).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(1).getString("id")/@grupos(1).getString("imagen")' alt="imagen grupo">
                                    @grupos(1).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(2).getString("id").toLong)' rel="tooltip" title='@grupos(2).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(2).getString("id")/@grupos(2).getString("imagen")' alt="imagen grupo">
                                    @grupos(2).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(3).getString("id").toLong)' rel="tooltip" title='@grupos(3).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(3).getString("id")/@grupos(3).getString("imagen")' alt="imagen grupo">
                                    @grupos(3).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(4).getString("id").toLong)' rel="tooltip" title='@grupos(4).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(4).getString("id")/@grupos(4).getString("imagen")' alt="imagen grupo">
                                    @grupos(4).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(5).getString("id").toLong)' rel="tooltip" title='@grupos(5).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(5).getString("id")/@grupos(5).getString("imagen")' alt="imagen grupo">
                                    @grupos(5).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href='@routes.Grupos.index(grupos(6).getString("id").toLong)' rel="tooltip" title='@grupos(6).getString("descripcion")' data-toggle="top">
                                    <img class="img-rounded" style="width: 32px; height: 32px;" src='/assets/grupos/@grupos(6).getString("id")/@grupos(6).getString("imagen")' alt="imagen grupo">
                                    @grupos(6).getString("nombre")
                                </a>
                            </li>
                            <li>
                                <a href="@routes.Grupos.muestraGrupos(0)" rel="tooltip" title='Todos los grupos' data-toggle="top">Más...</a>
                            </li>
                        }
                    }
                </ul>
                @if(!Usuario.cuentaInactiva(usuario.correo)) {
                    <a href="#" role="button" class="btn btn-large btn-success" data-toggle="modal"onClick=modalGrupos() >crear grupo</a>
                }
            </div>
        </div>

        <div class="span9" style="box-shadow: 2px 2px 5px 2px #999;">
            <ul class="nav nav-tabs">
                <li><a href='@routes.Grupos.index(grupo.getString("id").toLong)'>Inicio</a></li>
                <li class="active"><a href='@routes.Grupos.muestraReuniones(grupo.getString("id").toLong)'>Reuniones</a></li>
                <li><a href='@routes.Grupos.muestraMiembros(grupo.getString("id").toLong)'>Integrantes</a></li>
                @if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
                <li><a href='@routes.Grupos.muestraPreferencias(grupo.getString("id").toLong)'>Preferencias</a></li>
                }
            </ul>
            <div class="page-header">
                <h1>
                    @grupo.getString("nombre") <small> Reuniones </small>
                    <input type="hidden" name="id" value='@grupo.getString("id")'>
                        @if(Integrante.esAdmin(grupo.getString("id").toLong, usuario.correo)) {
                            <a  href="#" role="button" class="btn btn-success pull-right" data-toggle="modal" onClick="modal()"><i class="icon-plus"></i> Generar reunion</a>
                        }
                </h1>
            </div>
            <div>
                @if(!reuniones.isEmpty()) {
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha inicio</th>
                                <th>Fecha fin</th>
                                <th>Hora inicio</th>
                                <th>Hora fin</th>
                                <th>Descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(r <- reuniones) {
                            <form name="reunion" action="#" method="post">
                                <tr>
                                    <td>
                                        <input type="hidden" name="id" value="@r.id">
                                        <input type="hidden" name="grupo.id" value="@r.grupo.id">
                                        <a href='@routes.Grupos.verReunion(r.id, grupo.getString("id").toLong)' rel="tooltip" title="@r.nombre" data-content="@r.nombre" data-placement="top">
                                            @if(r.nombre.length < 15) {@r.nombre} else {@r.nombre.substring(0, 14)...}
                                        </a>
                                    </td>
                                    <td>@r.fecha_inicio.format("dd/MM/yyyy")</td>
                                    <td>@r.fecha_fin.format("dd/MM/yyyy")</td>
                                    <td>@r.hora_inicio.format("HH:mm")</td>
                                    <td>@r.hora_fin.format("HH:mm")</td>
                                    <td>
                                        <a href="#" rel="tooltip" title="@r.descripcion" data-content="@r.nombre" data-placement="top">
                                            @if(r.descripcion.length < 40) {@r.descripcion} else {@r.descripcion.substring(0, 39)...}
                                        </a>
                                    </td>
                                </tr>
                            </form>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>

    <!-- Modal crear grupo -->
    <div class="modal hide fade" id="creaGrupo">
        <form action='@routes.Grupos.crearGrupo(7, grupo.getString("id").toLong, 0)' class="form-horizontal" name="grupo" enctype="multipart/form-data" method="post">
            <div class="modal-header">
                <a href='@routes.Grupos.muestraReuniones(grupo.getString("id").toLong)' class="close" aria-hidden="true">&times;</a>
                <h3>Grupo Nuevo</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Nombre del grupo</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" name="nombre" autofocus="autofocus" placeholder="Nombre del grupo" maxlength="25" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Descripcion</label>
                    <div class="controls">
                        <textarea class="input-xlarge" rows="6" name="descripcion" maxlength="150" placeholder="Descripción del grupo" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                <label class="control-label" for="imagen">Imagen de grupo</label>
                    <div class="controls">
                        <img style="width: 90px; height: 90px;" src="/assets/grupos/group.png" alt="imagen grupo">
                        <input class="input-file" id="imagen" type="file" name="imagen"><br>
                        tamaño maximo = 1 MB
                    </div>
                </div>
                <div class="control-group>">
                    <div class="controls">
                        <span style="color: red;">@errorImagen</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href='@routes.Grupos.muestraReuniones(grupo.getString("id").toLong)' class="btn">Cerrar</a>
                <input type="submit" class="btn btn-primary" value="Crear">
            </div>
        </form>
    </div>

        <!-- Modal crear reunion -->
    <div class="modal hide fade" id="crearReunion">
        <form name="reunion2" action="@routes.Reuniones.generarReunion(usuario.correo)" class="form-horizontal" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Nueva reunion</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Entre los dias</label>
                    <div class="controls">
                        <input class="input-small" type="text" id="fechaI1" maxlength="8" name="fecha_inicio">
                        y
                        <input class="input-small" type="text" id="fechaF1" maxlength="10" name="fecha_fin" >
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Entre las horas</label>
                    <div class="controls">
                        <input class="input-small" type="text" id="horaI1" maxlength="8" name="hora_inicio" >
                        y
                        <input class="input-small" type="text" id="horaF1" maxlength="8" name="hora_fin">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Duracion (en horas)</label>
                    <div class="controls">
                        <input class="input-small" type="text" name="duracion" id="duracion" maxlength="8" >
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Asistencia minima</label>
                    <div class="controls">
                        <input class="input-small" type="text" name="asistencia" id="asistencia" maxlength="8">
                    </div><br>
                    <div class="alert alert-error">
                        En la asistencia minima considere al administrador.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="nombre" id="nombre" value="temporal">
                <input type="hidden" name="descripcion" id="descripcion" value="descripcion">
                <input type="hidden" name="estado" id="estado"  value="pendiente">
                <input type="hidden" name="grupo.id" id="grupo.id"  value='@grupo.getString("id").toLong'>
                <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
                <input type="button" onclick="comparaFechas();" class="btn btn-primary" value="Generar" >
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function modal() {
            $('#crearReunion').modal('show');
        }

        $(document).ready(function() {

            $('#horaI1, #horaF1, #horaI2, #horaF2, #fechaI1, #fechaI2, #fechaF1, #fechaF2').keypress(function(e) {
                if(e.which > 0) return false;
            });

            /**
            * muestra los modal de los calendarios y fechas
            */
            $("#fechaI1, #fechaI2, #fechaF1, #fechaF2").datepicker({
                dateFormat: "dd/mm/yy",
                firstDay: 1,
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                monthNames: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]
            });

            $("#repetir").click(function(evento){
                if ($("#repetir").attr("checked")){
                    $("#divrepetir").css("display", "block");
                    document.forms.tarea.repetir.value = 1;
                }else{
                    $("#divrepetir").css("display", "none");
                    document.forms.tarea.repetir.value = 0;
                }
            });

            $("#fechaT").datepicker({
                dateFormat: "dd/mm/yy",
                firstDay: 1,
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                monthNames: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]
//              minDate: 1
            });

            $('#horaI1').timepicker({
                showLeadingZero: true,
                hourText: 'Hora',
//              minuteText: 'Min',
                onHourShow: tpStartOnHourShowCallback,
                showMinutes: false,
//              minutes: { interval: 30 }
            });

            $('#horaF1').timepicker({
                showLeadingZero: true,
                hourText: 'Hora',
//              minuteText: 'Min',
                onHourShow: tpEndOnHourShowCallback,
                showMinutes: false,
//              minutes: { interval: 30 }
            });


            $('#horaI2').timepicker({
                showLeadingZero: true,
                hourText: 'Hora',
//              minuteText: 'Min',
                onHourShow: tpStartOnHourShowCallback2,
                showMinutes: false,
//              minutes: { interval: 30 }
            });

            $('#horaF2').timepicker({
                showLeadingZero: true,
                hourText: 'Hora',
//              minuteText: 'Min',
                onHourShow: tpEndOnHourShowCallback2,
                showMinutes: false,
//              minutes: { interval: 30 }
            });
            /**
            * --------- Fin de los modal ------------
            */

            // si hace click en un evento muestra el modal con los datos.

        });


        function tpStartOnHourShowCallback(hour) {
            var tpEndHour = $('#horaF1').timepicker('getHour');
            if ($('#horaF1').val() == '') { return true; }
            if (hour <= tpEndHour) { return true; }
            return false;
        }

        function tpEndOnHourShowCallback(hour) {
            var tpStartHour = $('#horaI1').timepicker('getHour');
            if ($('#horaI1').val() == '') { return true; }
            if (hour >= tpStartHour) { return true; }
            return false;
        }

        function tpStartOnHourShowCallback2(hour) {
            var tpEndHour = $('#horaF2').timepicker('getHour');
            if ($('#horaF2').val() == '') { return true; }
            if (hour <= tpEndHour) { return true; }
            return false;
        }

        function tpEndOnHourShowCallback2(hour) {
            var tpStartHour = $('#horaI2').timepicker('getHour');
            if ($('#horaI2').val() == '') { return true; }
            if (hour >= tpStartHour) { return true; }
            return false;
        }

        /**
        ----------------- Verifica campos ------------------
        **/
        function comparaFechas() {
        	var fechaInicio = null;
            var fechaFin = null;
            var horaInicio = null;
            var horaFin = null;
            var duracion = null;
            var asistenciaMinima = null;
            fechaInicio = document.getElementById("fechaI1").value;
            fechaFin = document.getElementById("fechaF1").value;
            horaInicio = document.getElementById("horaI1").value;
            horaFin = document.getElementById("horaF1").value;
            duracion = document.getElementById("duracion").value;
            asistenciaMinima = document.getElementById("asistencia").value;

            // Verifica que la fecha de inicio sea anterior a la fecha de termino
            if(fechaInicio < fechaFin){
                var diferenciaHora = horaFin - horaInicio;

                //Verifica que la duracion sea menor o igual al lapso de tiempo
                if(duracion <= diferenciaHora){

                    //Verifica que la asistencia minima no sea mayor a la cantidad de miembros de un grupo
                    if(@miembros >= asistenciaMinima) {
                        document.reunion2.submit();
                    }else {
                        alert("La asistencia minima no puede ser mayor a los integrantes del grupo");
                    }
                }else{
                    alert("La reunion no puede durar mas que el lapso de tiempo indicado");
                }
            }else{
                alert("La fecha de termino debe ser posterior a la fecha de inicio");
            }
        }
    </script>
}
