@(user: String, puntaje: Array[Integer], hora: Array[Integer], fin: Array[Integer], fecha1: String, fecha2: String, fecha3: String, id: Integer, time: Integer, day: Array[Date], hours: Array[Date], asist: Integer, termino: Array[Date], lista: List[Integrante])

@app(title = "Orgrup", user){

<div class="container" style="box-shadow: 2px 2px 5px 2px #999; border:1px #242424 solid; border-radius: 4px; background-color: #C0C0C0 ">
	<div class="row">
		<div class="span11" style="float:right">
		<h3>ELIJA FECHA PARA LA REUNION</h3>
				<div class="span9" style="float:left; background-color: #F2F2F2;  border:1px #646464 solid;" >
				<form name="formulario" action="@routes.Reuniones.guardaReunion()" method="post">
					<table class="table table-hover">
						<tr>
							<td>De las: @hora(0) hrs. hasta las: @fin(0) hrs. el dia: @fecha1 </td>
						</tr>
						<tr>@if(puntaje(1) != null){
							<td>De las: @hora(1) hrs. hasta las: @fin(1) hrs. el dia: @fecha2 </td>
							}
						</tr>
						<tr>@if(puntaje(2) != null){
							<td>De las: @hora(2) hrs. hasta las: @fin(2) hrs. el dia: @fecha3 </td>
							}
						</tr>
					</table>
					<div class="tabbable" style="box-shadow: 2px 2px 5px 2px #999;">
						<table>
						<tr>
							<td>Nombre para la reunion </td>
							<td> <input type="text" name="nombre" id="nombre" required></td>
						</tr>
						
						<tr>
							<td>Descripcion</td>
							<td><textarea class="input-xlarge" name="descripcion" id="descripcion"></textarea></td>
						</tr>
						</table>	
						<input type="hidden" name="estado" value="pendiente">	
						<input type="hidden" name="duracion" value="@time">	
						<input type="hidden" name="asistencia" value="@asist">
						<input type="hidden" name="grupo.id" value="@id">
						
						<input type="hidden" name="fecha_inicio" value="@day(0)">
						<input type="hidden" name="fecha_fin" value="@day(0)">
						
						<input type="hidden" name="hora_fin" value="@termino(0)">
					</div>
					<br>
					<button type="submit" class="btn"> Guardar Reunion </button>
				</form>
				</div>
		</div>
	</div>
	</div>
}
