@(user: String, puntaje1: Integer, puntaje2: Integer, puntaje3: Integer, hora1: Integer, hora2: Integer, hora3: Integer, fin1: Integer, fin2: Integer, fin3: Integer, dia1: Integer, dia2: Integer, dia3: Integer, mes1: Integer, mes2: Integer, mes3: Integer, anio1: Integer, anio2: Integer, anio3: Integer)

@app(title = "Orgrup", user){

<div class="container" style="box-shadow: 2px 2px 5px 2px #999; border:1px #C0C0C0 solid; border-radius: 4px">
	<div class="row">
		<div class="span11" style="float:right">
				<div class="span9" style="float:left; background-color: #F2F2F2;">
					<table class="table table-hover">
						<tr>
							<td>@puntaje1 De las: @hora1 hrs. hasta las: @fin1 hrs. el dia: @dia1 - @mes1 - @anio1</td>
						</tr>
						<tr>
							<td>@puntaje2 De las: @hora2 hrs. hasta las: @fin2 hrs. el dia: @dia2 - @mes2 - @anio2</td>
						</tr>
						<tr>
							<td>@puntaje3 De las: @hora3 hrs. hasta las: @fin3 hrs. el dia: @dia3 - @mes3 - @anio3</td>
						</tr>
					</table>
					<div class="tabbable" style="box-shadow: 2px 2px 5px 2px #999;">
						
						aqui van el formulario
						asdasdasd<br>
						asdasdasd<br>
						asdasdasd<br>
						asdasdasd<br>
						
					</div>
				</div>
		</div>
	</div>
	</div>
}