@(user: Usuario, grupos: List[SqlRow], errorImagen: String)

@app(title = "Orgrup", user.nombre) {

	<style type="text/css">
		a:hover{
		text-decoration: none;
		}
		
		#fondo:hover{
		background-color: #D8D8D8;
		border-radius: 4px;
		}
	</style>

	
	<div class="container">
		<div class="well well-small">
			<fieldset>
				<legend>
					<table>
						<td>Grupos a los que pertenece</td>
						@if(!Usuario.cuentaInactiva(user.correo)) {
							<td style="position: absolute; top:100; right:0; width:350px;"><a href="#" role="button" class="btn btn-success" data-toggle="modal" onClick="modal()"><i class="icon-plus"></i> Crear grupo</a></td>
						}
					</table>
				</legend>
				
			</fieldset>
				<table>
					@for(p<-grupos){
						<tr>
							<td><img class="img-polaroid" style="width: 35px; height: 35px;" src='/assets/grupos/@p.getString("id")/@p.getString("imagen")'>&nbsp;</td>
							<td id="fondo" class="span8"><a href="@routes.Grupos.index(p.getString("id").toLong)">@p.getString("nombre")</a></td>
							@if(Integrante.esAdmin(p.getString("id").toLong, user.correo)==true){
								<td></td>
							}else {
								<td>
									<a class="btn btn-danger pull-right" href='@routes.Grupos.dejarGrupo(p.getString("id").toLong)'>Dejar Grupo</a>
								</td>
							}
							<td></td>
						</tr>
						}
						
					</ul>
				</table>
			</div>
	</div>
	
	<!-- Modal crear grupo -->
	<div class="modal hide fade" id="creaGrupo">
		<form action="@routes.Grupos.crearGrupo(2, 0, 0)" class="form-horizontal" name="grupo" enctype="multipart/form-data" method="post">
			<div class="modal-header">
				<a href='@routes.Grupos.muestraGrupos()' class="close" aria-hidden="true">&times;</a>
				<h3>Grupo Nuevo</h3>
			</div>
			<div class="modal-body">
				<div class="control-group">
	    			<label class="control-label">Nombre del grupo</label>
	    			<div class="controls">
	    				<input type="text" name="nombre" required>
	    			</div>
	    		</div>
	    		
	    		<div class="control-group">
	    			<label class="control-label">Descripcion</label>
	    			<div class="controls">
	    				<textarea name="descripcion" maxlength="500"></textarea>
	    			</div>
	    		</div>
	    		
	    		<div class="control-group">
				<label class="control-label" for="imagen">Imagen de grupo</label>
					<div class="controls">
						<img style="width: 90px; height: 90px;" src="/assets/grupos/group.png" alt="imagen grupo">
						<input class="input-file" id="imagen" type="file" name="imagen"><br>
						tamaño maximo = 1 MB
					</div>
				</div>
				<div class="control-group>">
					<div class="controls">
						<span style="color: red;">@errorImagen</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href='@routes.Grupos.muestraGrupos()' class="btn">Cerrar</a>
				<input type="submit" class="btn btn-primary" value="Crear">
			</div>
		</form>		
	</div>

	<script type="text/javascript">	
		function modal(){
			$('#creaGrupo').modal('show');
		}
		
		@if(errorImagen != "") {
			$('#creaGrupo').modal('show');
		}		
	</script>



}
