
@app("Algoritmo", "Rodolfo") {

    <div class="" id="crearReunion">
        <form name="reunion" action="@routes.Algoritmo.calcula()" class="form-horizontal" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Nueva reunion</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Entre los dias</label>
                    <div class="controls">
                        <input class="input-small" type="text" id="fechaI1" maxlength="8" name="fecha_inicio">
                        y
                        <input class="input-small" type="text" id="fechaF1" maxlength="10" name="fecha_fin" >
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Entre las horas</label>
                    <div class="controls">
                        <input class="input-small" type="text" id="horaI1" maxlength="8" name="hora_inicio" >
                        y
                        <input class="input-small" type="text" id="horaF1" maxlength="8" name="hora_fin">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Duracion (en horas)</label>
                    <div class="controls">
                        <input class="input-small" type="text" name="duracion" id="duracion" maxlength="2" >
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Asistencia minima</label>
                    <div class="controls">
                        <input class="input-small" type="text" name="asistencia" id="asistencia" maxlength="8">
                    </div><br>
                    <div class="alert alert-error">
                        En la asistencia minima considere al administrador.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="nombre" id="nombre" value="temporal">
                <input type="hidden" name="descripcion" id="descripcion" value="descripcion">
                <input type="hidden" name="estado" id="estado"  value="pendiente">
                <input type="hidden" name="grupo.id" id="grupo.id"  value='1'>
                <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
                <input type="submit" class="btn btn-primary" value="Generar" >
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function modal() {
            $('#crearReunion').modal('show');
        }

        $(document).ready(function() {

            $('#horaI1, #horaF1, #horaI2, #horaF2, #fechaI1, #fechaI2, #fechaF1, #fechaF2').keypress(function(e) {
                if(e.which > 0) return false;
            });

            /**
            * muestra los modal de los calendarios y fechas
            */
            $("#fechaI1, #fechaI2, #fechaF1, #fechaF2").datepicker({
                dateFormat: "dd/mm/yy",
                firstDay: 1,
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                monthNames: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]
            });

            $("#repetir").click(function(evento){
                if ($("#repetir").attr("checked")){
                    $("#divrepetir").css("display", "block");
                    document.forms.tarea.repetir.value = 1;
                }else{
                    $("#divrepetir").css("display", "none");
                    document.forms.tarea.repetir.value = 0;
                }
            });

            $("#fechaT").datepicker({
                dateFormat: "dd/mm/yy",
                firstDay: 1,
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                monthNames: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]
//              minDate: 1
            });

            $('#horaI1').timepicker({
                showLeadingZero: true,
                hourText: 'Hora',
//              minuteText: 'Min',
                onHourShow: tpStartOnHourShowCallback,
                showMinutes: false,
//              minutes: { interval: 30 }
            });

            $('#horaF1').timepicker({
                showLeadingZero: true,
                hourText: 'Hora',
//              minuteText: 'Min',
                onHourShow: tpEndOnHourShowCallback,
                showMinutes: false,
//              minutes: { interval: 30 }
            });


            $('#horaI2').timepicker({
                showLeadingZero: true,
                hourText: 'Hora',
//              minuteText: 'Min',
                onHourShow: tpStartOnHourShowCallback2,
                showMinutes: false,
//              minutes: { interval: 30 }
            });

            $('#horaF2').timepicker({
                showLeadingZero: true,
                hourText: 'Hora',
//              minuteText: 'Min',
                onHourShow: tpEndOnHourShowCallback2,
                showMinutes: false,
//              minutes: { interval: 30 }
            });
            /**
            * --------- Fin de los modal ------------
            */

            // si hace click en un evento muestra el modal con los datos.

        });


        function tpStartOnHourShowCallback(hour) {
            var tpEndHour = $('#horaF1').timepicker('getHour');
            if ($('#horaF1').val() == '') { return true; }
            if (hour <= tpEndHour) { return true; }
            return false;
        }

        function tpEndOnHourShowCallback(hour) {
            var tpStartHour = $('#horaI1').timepicker('getHour');
            if ($('#horaI1').val() == '') { return true; }
            if (hour >= tpStartHour) { return true; }
            return false;
        }

        function tpStartOnHourShowCallback2(hour) {
            var tpEndHour = $('#horaF2').timepicker('getHour');
            if ($('#horaF2').val() == '') { return true; }
            if (hour <= tpEndHour) { return true; }
            return false;
        }

        function tpEndOnHourShowCallback2(hour) {
            var tpStartHour = $('#horaI2').timepicker('getHour');
            if ($('#horaI2').val() == '') { return true; }
            if (hour >= tpStartHour) { return true; }
            return false;
        }
    </script>
}