body {
    background-color: #F2F2F2;
}

.container {
    margin-top:20px;
    /*border-radius:10px;*/
    padding: 15px;
    background-color: F2F2F2;
}

.panel {
    padding: 10px 10px 10px 20px;
}

.panel a: {
    font-weight: normal;
    text-decoration: none;
}

.panel a:hover {
    text-decoration: none;
}

.row .span3 {
    background-color: #252525;
    border-radius: 15px;
    color: white;
    font-size: 11px;
}

.row .span3 h4 {
    color: gray;
}

.row .span3 h4 a {
    color: gray;
    text-decoration: none;
}

.row .span3 h4 a:hover {
    text-decoration: none;
}

.row .span9 {
    background-color: #FFF;
    border-radius: 10px;
}

.row .span11 .span9 .grupos {
    padding: 10px;
}

.row .span11 .span9 .grupos a:hover {
    text-decoration: none;
}

.row .span11 .span9 .grupos h3 a {
    font-weight: normal;
}

.row .span11 .span9 .grupos .row .table-hover td {
    padding: 5px;
}

.row .span11 .span9 .span8 {
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
}

.perfil {
    background-color: #FFF;
    border-radius: 10px;
}

.tabbable {
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
}

#calendar {
    padding: 10px;
}