@main(title="Desarrolladores") {
	<div class="contenedor">
		<div class="container">
			<h1>Desarrolladores y Fundadores</h1>
			<div class="row">
				<div class="span4">
					V&iacutector Leonardo Casalli Fuentes<br>
					Daniel Alejandro Rivera Soto<br>
					Rodolfo Andr&eacutes Santander Sep&uacutelveda
				</div>
				<div class="span4">
					<img src="@routes.Assets.at("images/Mail.png")">&nbsp l.casalli&#64;hotmail.com<br>
					<img src="@routes.Assets.at("images/Mail.png")">&nbsp danieldk8&#64;gmail.com<br>
					<img src="@routes.Assets.at("images/Mail.png")">&nbsp rodolfo.santander06&#64;gmail.com
				</div>
				<div class="span4">
					<img src="@routes.Assets.at("images/twitter.png")">&nbsp<a href="https://twitter.com/LeoCasalli" target="_blank">&#64;LeoCasalli</a><br>
					<img src="@routes.Assets.at("images/twitter.png")">&nbsp<a href="https://twitter.com/DanielRiveraS89"target="_blank">&#64;DanielRiveraS89</a><br>
					<img src="@routes.Assets.at("images/twitter.png")">&nbsp<a href="https://twitter.com/rsantander06" target="_blank">&#64;rsantander06</a>			
				</div>
			</div>
			<br><br><br><br><br><br><br><br><br>
		</div>
	</div>
}