@main(title = "Contacto") {	

	<style>
		.well { color: black; }
		.well h3 { text-align: center;}
		span { color: red; }
	</style>

	<div class="contenedor">
		<div class="row">
			<div class="span9" style="float:right;">
				<div class="span4" style="float:left;" id="estilo">
					<div class="well">
                		<div>
							<h3>Cont&aacutectanos</h3>
						</div>
						<hr>
						<div>
							<form id="form1" action="@routes.Application.guardaMensaje" method="post">
								<div class="control-group">
									<label class="control-label" for="nombre">Nombre completo</label>
									<div class="controls">
										<input class="input-xlarge" type="text" placeholder="Nombre completo" name="nombre" id="nombre" maxlength="50" required/>
										<span>*</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="asunto">Asunto</label>
									<div class="controls">
										<input class="input-xlarge" type="text" placeholder="Asunto" name="asunto" id="asunto" maxlength="50" required/>
										<span>*</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="correo">Correo electr&oacutenico</label>
									<div class="controls">
										<input class="input-xlarge" type="text" placeholder="Correo electronico" name="correo" id="correo" maxlength="50" required/>
										<span>*</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="mensaje">Mensaje</label>
									<div class="controls">
										<textarea class="input-xlarge" name="mensaje" id="mensaje" maxlength="300" required></textarea>
										<span>*</span>
									</div>
								</div>
								<input type="hidden" name="estado" value="1">
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn"> Enviar Mensaje </button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}