@main(title = "Orgrup") {

	<div class="jumbotron masthead">
		<div class="container">
			<h1>Orgrup</h1>
			<p>Crea tareas y organiza tus reuniones autom&aacuteticamente.</p>
			<a href="@routes.Application.registro" class="btn btn-primary btn-large">Reg&iacutestrate Ahora!</a><br><br>
			<p><a href="#caracteristicas" class="btn btn-primary btn-large smooth" id="scroll">Características</a></p>
		</div>
		<br><br><br><br><br>
	</div>
	
	<div class="container" id="caracteristicas" >
		<div class="marketing">
			<h1>Caracter&iacutesticas de Orgrup.</h1>
			<p class="marketing-byline">Te facilitar&aacute crear reuniones.</p>
			<div class="row-fluid">
			
				<div class="span4">
					<img src='@routes.Assets.at("images/fullcalendar.png")' style="width: 300px; height: 145px;">
					<h2>Crear tareas.</h2>
					<p>En Orgrup podr&aacutes crear tareas o actividades clasific&aacutendolas por prioridad.</p>
				</div>
				
				<div class="span4">
					<img src='@routes.Assets.at("images/equipo.gif")' style="width: 300px; height: 145px;">
					<h2>Reuniones.</h2>
					<p>Ya no tendr&aacutes que perder tiempo gestionando una reuni&oacuten con tu equipo de trabajo, Orgrup te hace la tarea mas f&aacutecil creando autom&aacuteticamente una reuni&oacuten para ti.</p>
				</div>

				<div class="span4">
					<img src='@routes.Assets.at("images/responsive.png")'>
					<h2>Responsive Design.</h2>
					<p>Orgrup esta creado para que pueda ser visto desde cualquier dispositivo. Su diseño permite que se adapte a cualquier resolución</p>
				</div>
			</div>
		</div>
	</div>
		
}
	<script >
		$(function(){
		    //clic en un enlace de la lista
		    $('p a').on('click',function(e){
		        //prevenir en comportamiento predeterminado del enlace
		        e.preventDefault();
		        //obtenemos el id del elemento en el que debemos posicionarnos
		        var strAncla=$(this).attr('href');
		         
		        //utilizamos body y html, ya que dependiendo del navegador uno u otro no funciona
		        $('body,html').stop(true,true).animate({
		            //realizamos la animacion hacia el ancla
		            scrollTop: $(strAncla).offset().top
		        },1400);
		    });
		});
	</script>

