@(error: String)

@main(title = "Recuperar contraseña") {
	
	<div class="row">
		<div class="span8" style="float:right">
			<div class="span4" style="float:left;">
				<fieldset>
					<legend>Recuperar Contraseña</legend>
					<form class="form-inline well " action="@routes.Application.recuperarPassword" method="post">            			         
                		<label for="correo">Ingrese su correo electronico</label>
                		<input type="email" placeholder="Correo electronico" name="correo" id="correo" required>
                		<button type="submit" id="fat-btn" class="btn" data-loading-text="Enviando">Enviar</button>
                		<br><br>
                		@if(error != "") {
            				<div class="alert alert-error" id="error">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<small>
									<strong>Error!</strong>
									@error
								</small>
							</div>
						}                		
					</form>
				</fieldset>
			</div>
		</div>
	</div>
    
    <script type="text/javascript">
    	
 	   	$('#fat-btn').on('click', function () {
 	   		$(this).button('loading')
 	   	});
 	   	
 	   	$('#correo').keypress(function() {
 	   		$('#error').hide();
 	   	});
 	</script>
}