@(error: String)

@main(title = "Recuperar contraseña") {
	<style>
		.well { color: black;}
	</style>
	<div class="contenedor">
		<div class="row">
			<div class="span9" style="float:right">
				<div class="span5" style="float:left;">
					<div class="well">
						<form class="form-inline" action="@routes.Application.recuperarPassword" method="post">            			         
	                		<label for="correo">Ingrese su correo electronico</label><br>
	                		<div class="input-append">
								<input id="correo" placeholder="Correo electronico" name="correo" type="email" required>
								<button class="btn btn-primary" type="submit" id="fat-btn" data-loading-text="Enviando...">Resetar Contraseña</button>
							</div>
	                		@if(error != "") {
	            				<div class="alert alert-error" id="error">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<small>
										<strong>Error!</strong>
										@error
									</small>
								</div>
							}                		
						</form>
					</div>
				</div>
			</div>
		</div>
		<br><br><br><br><br><br><br><br><br>
	</div>
    
    <script type="text/javascript">
    	
 	   	$('#fat-btn').on('click', function () {
 	   		$(this).button('loading')
 	   	});
 	   	
 	   	$('#correo').keypress(function() {
 	   		$('#error').hide();
 	   	});
 	</script>
}