@(form: Form[Usuario], error: String)

@main(title = "Registro") {

    <style>
        span { color: red; }
         .well {
            color: black;
         }
         p {
            padding-top: 30px;
         }
    </style>

    <!-- Simple Formulario para ingresar -->
    <div class="contenedor">
        <div class="row">
            <div class="span10" style="float:right">
                <div class="span6" style="float:left;">
                    <div class="well">
                        <div class='section section-large'>
                            <div class='section-header'>
                                <h3>Registro</h3>
                            </div>
                            <hr>
                            @if(error != "") {
                            	<div class="alert alert-error" id="error">
                                	<button type="button" class="close" data-dismiss="alert">×</button>
                                    <small>
                                    	<strong>Error!</strong>
                                        @error
                                    </small>
                                </div>
                            }
                            <div class="alert alert-error" id="alert">
                            	<button type="button" class="close" data-dismiss="alert">×</button>
                                	<small>
                                    	<strong>Error!</strong>
                                        Las contraseñas no coinciden.
                                     </small>
                            </div>
                            
                            <div class='section-body'>
                                <form class="form" name="registro" action="@routes.Application.comprobarRegistro" method="post">
                                    <div class="control-group">
                                        <label class="control-label" for="nombre">Nombre completo</label>
                                        <div class="controls">
                                            <input class="input-xlarge" type="text" placeholder="Nombre y Apellido" name="nombre" id="nombre" maxlength="50" onkeypress="return soloLetras(event)" required/>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="correo">Correo electr&oacutenico</label>
                                        <div class="controls">
                                            <input class="input-xlarge" type="email" placeholder="me@@example.com" name="correo" id="correo" maxlength="50" required>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <div class="password-container">
                                        <div class="control-group">
                                            <label class="control-label" for="password">Contraseña &nbsp; <font size="1">(Debe contener entre 6 y 20 caracteres)</font></label>
                                            <div class="controls">
                                                <input class="input-xlarge strong-password" type="password" placeholder="Contraseña" name="password" id="password" maxlength="20" required>
                                                <span>*</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="password2">Confirmar contraseña</label>
                                            <div class="controls">
                                                <input class="input-xlarge strong-password" type="password" placeholder="Confirmar contraseña" id="password2" maxlength="20" required>
                                                <span>*</span>
                                            </div>
                                        </div>
                                        <div class="strength-indicator">
                                            <div class="meter">
                                            </div>
                                            Seguridad de la contraseña.
                                           
                                            <div class="alert alert-error" id="alerta">
                                        		<button type="button" class="close" data-dismiss="alert">×</button>
                                       			 <small>
                                            		<strong>Error!</strong>
                                            		La contraseña debe estar formada entre 6-20 carácteres y deben coincidir.
                                       			</small>
                                    		</div>
                                    		
                                    		                                     		 
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ciudad">Ciudad</label>
                                        <div class="controls">
                                            <input class="input-xlarge" type="text" placeholder="Ciudad" name="ciudad" id="ciudad" maxlength="50" required/>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="telefono">Tel&eacutefono</label>
                                        <div class="controls">
                                            <input class="input-xlarge" type="text" placeholder="Telefono" name="telefono" id="telefono" maxlength="20" onkeypress="return soloNumeros(event)"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="leyenda">Acerca de m&iacute</label>
                                        <div class="controls">
                                            <textarea rows="3" class="input-xlarge" name="leyenda" id="leyenda" maxlength="150"></textarea>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class='form-actions'>
                                        <button type="submit" id="fat-btn" class="btn btn-primary btn-large submit-button locked" data-loading-text="Registrando..."> Crear cuenta </button>
                                        <p>
                                            ¿Ya tienes una cuenta?
                                            <a href="@routes.Application.login">Ingresa aquí</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#alerta').hide();

        $('#fat-btn').on('click', function() {
            var pass = $("input#password").val().length;
            var pass2 = $("input#password2").val().length;
            var nombre = $("input#nombre").val().length;
            var correo = $("input#correo").val().length;
            var ciudad = $("input#ciudad").val().length;
            var correo2 = $("input#correo").val();
            
            passLetra1 = $("input#password").val();
            passLetra2 = $("input#password2").val();
            
            alert(passLetra1);
            alert(passLetra2);
            if(passLetra1 == null && passLetra2 == null){
            	$('#alert').hide();
            }       
            if (nombre > 1 && correo > 1 && pass > 1 && pass2 > 1 && ciudad > 1 && validar_email($("#correo").val()) == true){
                if(pass < 6 || pass2 < 6) {
                    $("#alerta").show("fast");
                    $("#password").focus();
                    return false;
                }
                if($("input#password").val() != $("input#password2").val() && pass > 1 && pass2 > 1) {
                	$("#alert").show("fast");
                    $("#password").focus();
                    return false;
                }
                else{
                    $(this).button('loading');
                }
            }
        });

        //Verifica si lo que se ingresa en el campo correo es valido o no
        function validar_email(valor)
        {
            // creamos nuestra regla con expresiones regulares.
            var filter = /[\w-\.]{3,}@@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
            // utilizamos test para comprobar si el parametro valor cumple la regla
            if(filter.test(valor))
                return true;
            else
                return false;
            	$('#alert').show('fast');
        }

        $('#password').keypress(function() {
            $('#alerta').hide();
        });

        $('.input-xlarge').keypress(function() {
            $('#error').hide();
        });
        
        $('#password2').keypress(function() {
            $('#alert').hide();
        });

       $(document).ready(function () {

           //Demo code
           $('.password-container').pschecker({ onPasswordValidate: validatePassword, onPasswordMatch: matchPassword });

           var submitbutton = $('.submit-button');
           var errorBox = $('.error');
           errorBox.css('visibility', 'hidden');
//            submitbutton.attr("disabled", "disabled");

           //this function will handle onPasswordValidate callback, which mererly checks the password against minimum length
           function validatePassword(isValid) {
               if (!isValid)
                   errorBox.css('visibility', 'visible');
               else
                   errorBox.css('visibility', 'hidden');
           }
           //this function will be called when both passwords match
           function matchPassword(isMatched) {
               if (isMatched) {
                   submitbutton.addClass('unlocked').removeClass('locked');
                   submitbutton.removeAttr("disabled", "disabled");
               }
               else {
//                    submitbutton.attr("disabled", "disabled");
//                    submitbutton.addClass('locked').removeClass('unlocked');               
               }
           }
       });
       
       function soloNumeros(evt)
       {
         var keyPressed = (evt.which) ? evt.which : event.keyCode
         return !(keyPressed > 31 && (keyPressed < 48 || keyPressed > 57));
       }

        function soloLetras(e) 
        {
            tecla = (document.all) ? e.keyCode : e.which;
            if (tecla==8) return true;
            patron =/[A-Za-zñÑ\s]/;
            te = String.fromCharCode(tecla);
            return patron.test(te); 
        } 
       
    </script>
}