@(form: Form[Usuario], error: String)

@main(title = "Registro") {

    <style>
        span { color: red; }
         .well {
            color: black;
         }
         p {
            padding-top: 30px;
         }
    </style>

    <!-- Simple Formulario para ingresar -->
    <div class="contenedor">
        <div class="row">
            <div class="span10" style="float:right">
                <div class="span6" style="float:left;">
                    <div class="well">
                        <div class='section section-large'>
                            <div class='section-header'>
                                <h3>Registro</h3>
                            </div>
                            <hr>
                            <div class='section-body'>
                                <form class="form" name="registro" action="@routes.Application.comprobarRegistro" method="post">
                                    <div class="control-group">
                                        <label class="control-label" for="nombre">Nombre completo</label>
                                        <div class="controls">
                                            <input class="input-xlarge" type="text" placeholder="Nombre y Apellido" name="nombre" id="nombre" maxlength="30" required/>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="correo">Correo electronico</label>
                                        <div class="controls">
                                            <input class="input-xlarge" type="email" placeholder="Correo electronico" name="correo" id="correo" maxlength="50" required>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <div class="password-container">
                                        <div class="control-group">
                                            <label class="control-label" for="password">Contraseña</label>
                                            <div class="controls">
                                                <input class="input-xlarge strong-password" type="password" placeholder="Contraseña" name="password" id="password" maxlength="20" required>
                                                <span>*</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="password2">Confirmar contraseña</label>
                                            <div class="controls">
                                                <input class="input-xlarge strong-password" type="password" placeholder="Confirmar contraseña" id="password2" maxlength="20" required>
                                                <span>*</span>
                                            </div>
                                        </div>
                                        <div class="strength-indicator">
                                            <div class="meter">
                                            </div>
                                            Seguridad de la contraseña.
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="ciudad">Ciudad</label>
                                        <div class="controls">
                                            <input class="input-xlarge" type="text" placeholder="Ciudad" name="ciudad" id="ciudad" maxlength="20" required/>
                                            <span>*</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="telefono">Telefono</label>
                                        <div class="controls">
                                            <input class="input-xlarge" type="text" placeholder="Telefono" name="telefono" id="telefono" maxlength="15" onkeypress="return soloNumeros(event)"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="leyenda">Acerca de mi</label>
                                        <div class="controls">
                                            <textarea rows="3" class="input-xlarge" name="leyenda" id="leyenda" maxlength="150"></textarea>
                                        </div>
                                    </div>
                                    <div class="alert alert-error" id="alerta">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <small>
                                            <strong>Error!</strong>
                                            La contraseña debe estar formada entre 6-20 carácteres
                                        </small>
                                    </div>
                                    @if(error != "") {
                                        <div class="alert alert-error" id="error">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            <small>
                                                <strong>Error!</strong>
                                                @error
                                            </small>
                                        </div>
                                    }
                                    <div class='form-actions'>
                                        <button type="submit" id="fat-btn" class="btn btn-primary btn-large submit-button locked" data-loading-text="Registrando..."> Crear cuenta </button>
                                        <p>
                                            ¿Ya tienes una cuenta?
                                            <a href="@routes.Application.login">Ingresa aquí</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#alerta').hide();

        $('#fat-btn').on('click', function() {
            var pass = $("input#password").val().length;
            var nombre = $("input#nombre").val().length;
            var correo = $("input#correo").val().length;
            var ciudad = $("input#ciudad").val().length;
            var correo2 = $("input#correo").val();

            if (nombre != "" && correo != "" && pass != "" && ciudad != "" && validar_email($("#correo").val()) == true){
                if(pass < 6) {
                    $("#alerta").show("fast");
                    $("#password").focus();
                    return false;
                }
                else{
                    $(this).button('loading');
                }
            }
        });

        //Verifica si lo que se ingresa en el campo correo es valido o no
        function validar_email(valor)
        {
            // creamos nuestra regla con expresiones regulares.
            var filter = /[\w-\.]{3,}@@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
            // utilizamos test para comprobar si el parametro valor cumple la regla
            if(filter.test(valor))
                return true;
            else
                return false;
        }

        $('#password').keypress(function() {
            $('#alerta').hide();
        });

        $('.input-xlarge').keypress(function() {
            $('#error').hide();
        });

       $(document).ready(function () {

           //Demo code
           $('.password-container').pschecker({ onPasswordValidate: validatePassword, onPasswordMatch: matchPassword });

           var submitbutton = $('.submit-button');
           var errorBox = $('.error');
           errorBox.css('visibility', 'hidden');
           submitbutton.attr("disabled", "disabled");

           //this function will handle onPasswordValidate callback, which mererly checks the password against minimum length
           function validatePassword(isValid) {
               if (!isValid)
                   errorBox.css('visibility', 'visible');
               else
                   errorBox.css('visibility', 'hidden');
           }
           //this function will be called when both passwords match
           function matchPassword(isMatched) {
               if (isMatched) {
                   submitbutton.addClass('unlocked').removeClass('locked');
                   submitbutton.removeAttr("disabled", "disabled");
               }
               else {
                   submitbutton.attr("disabled", "disabled");
                   submitbutton.addClass('locked').removeClass('unlocked');
               }
           }
       });
       
       function soloNumeros(evt)
       {
         var keyPressed = (evt.which) ? evt.which : event.keyCode
         return !(keyPressed > 31 && (keyPressed < 48 || keyPressed > 57));
       }
    </script>
}