@(correo: String)

@main(title = "Resetear Contraseña") {

	<style>
		.well {
			color: black;
		}
		.well div h3 a { 
			color: white;
			display: inline-block;
			font-weight: normal;
		 }
		 .negacion {
		 	color: red;
		 }
	</style>

    <div class="contenedor">
        <div class="row">
            <div class="span9" style="float:right">
                <div class="span4" style="float:left;">
                	<div class="well">
                		<div>
							<h3>Resetear contraseña</h3>
						</div>
						<hr>
						<div>
							<form class="form" id="form1" action="@routes.Application.actualizarPassword" method="post">
								<div class="control-group">
									<label class="control-label" for="pw1">Contraseña Nueva</label>
									<div class="controls">
										<input class="input-xlarge" type="password" placeholder="Contraseña Nueva" id="pw1" name="password1" autofocus="autofocus" required>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="pw2">Confirmar Contraseña</label>
									<div class="controls">
										<input class="input-xlarge" type="password" placeholder="Confirmar Contraseña" id="pw2" name="password" required>
									</div>
								</div>
								<input type="hidden" name="correo" value="@correo">
								<div class="form-actions">
									<button type="submit" class="btn btn-large btn-primary">Guardar</button>
								</div>
							</form>
						</div>
                	</div>
                </div>
            </div>
        </div>
        <br><br>
	</div>
	
	<script type="text/javascript">
	jQuery(function(){
		$('#form1').submit(coincidePassword);
		
		var pass1 = $('[name=password1]');
		var pass2 = $('[name=password]');
		var confirmacion = "Las contraseñas coinciden";
		var longitud = "La contraseña debe estar formada entre 6-20 carácteres";
		var negacion = "No coinciden las contraseñas";
		var vacio = "La contraseña no puede estar vacía";
		
		//creo el elemento span
		var span = $('<br><span></span>').insertAfter(pass2);
		//oculto por defecto el elemento span
		span.hide();

		//función que comprueba las dos contraseñas
		function coincidePassword(event){
			var valor1 = pass1.val();
			var valor2 = pass2.val();
			var valor;
			//muestro el span
			span.show().removeClass();
			//condiciones dentro de la función
			if (valor1 != valor2) {
				span.text(negacion).addClass('negacion');
				event.preventDefault();  
			}
			else if (valor1.length==0 || valor1=="") {
				span.text(vacio).addClass('negacion');
				event.preventDefault();  
			}
			else if (valor1==valor2 && valor1.length<5 || valor1.length>10){
				span.text(longitud).addClass('negacion');
				event.preventDefault();  
			}
			else if(valor1.length!=0 && valor1==valor2){
				span.text(confirmacion).addClass('confirmacion');
			}
		}

		//ejecuto la función al soltar la tecla
		pass2.keyup(function(){
			coincidePassword();
		});
	});
	</script>
}