@(error:String)
@inicioadmin(title = "Administradores"){

   
    <style type="text/css">
		.enviar{background:#d25959;box-shadow:none;color:white;margin-bottom:0;width:100px}
		.enviar:hover{text-decoration:underline}
		span{display:block;font-size:.8em;margin:0px 0 10px;padding:5px 0 5px 11px;width:200px}
		.confirmacion{background:#C6FFD5;border:1px solid green;}
		.negacion{background:#ffcccc;border:1px solid red}
    </style> 
    
    
    <div class="container">
        <div class="row">
            <div class="span8" style="float:right">
                <div class="span4" style="float:left;">

                    <fieldset>
                        <legend>Cambiar contraseña</legend>
                        <form id="form1" class="well" action="@routes.Admin.cambioPass" method="post">
                        	<label for="usuario">Contraseña actual</label>
                        	<input type="password" class="span3" placeholder="Contraseña actual" name="old" id="old" maxlength="60" required/><br>
                            <label for="pass">Nueva contraseña</label>
                			<input type="password" class="span3" placeholder="Nueva contraseña" name="password" id="password" maxlength="20" required><br>
                			<label for="pass2">Confirmar nueva contraseña</label>
                			<input type="password" class="span3" placeholder="Confirmar nueva contraseña" name="pass2" maxlength="20" id="pass2" required>
                   			<span style="color: red;">@error</span>
                            <button type="submit" id="fat-btn" class="btn" data-loading-text="Registrando..."> Guardar </button>
                        </form>
                    </fieldset>
                    
	
	<script type="text/javascript">

		jQuery(function(){
		//variables
		$('#form1').submit(coincidePassword);
		
		var pass1 = $('[name=password]');
		var pass2 = $('[name=pass2]');
		var confirmacion = "Las contraseñas coinciden";
		var longitud = "La contraseña debe estar formada entre 5-10 carácteres";
		var negacion = "No coinciden las contraseñas";
		var vacio = "La contraseña no puede estar vacía";
		
		//creo el elemento span
		var span = $('<span></span>').insertAfter(pass2);
		//oculto por defecto el elemento span
		span.hide();

		//función que comprueba las dos contraseñas
		function coincidePassword(event){
			var valor1 = pass1.val();
			var valor2 = pass2.val();
			var valor;
			//muestro el span
			span.show().removeClass();
			//condiciones dentro de la función
			if(valor1 != valor2){
				span.text(negacion).addClass('negacion');
				event.preventDefault();  
			}
			else if(valor1.length==0 || valor1==""){
				span.text(vacio).addClass('negacion');
				event.preventDefault();  
			}
			else if(valor1==valor2 && valor1.length<5 || valor1.length>10){
				span.text(longitud).addClass('negacion');
				event.preventDefault();  
			}
			else if(valor1.length!=0 && valor1==valor2){
				span.text(confirmacion).addClass('confirmacion');
			}
		}

		//ejecuto la función al soltar la tecla
		pass2.keyup(function(){
			coincidePassword();
		});
	});	
		
	</script>

	
                </div>
            </div>
        </div>
    </div>
    
} 
