@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="es">
    <head>
    	<title>@title</title>        
       	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")">
       	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive-min.css")">
       	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">  
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")"> 
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap-dropdown.js")" type="text/javascript"></script>
                
    </head>
    <body>
    
    	<!-- Barra superior -->
    	<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="@routes.Application.index">Orgrup</a>
					<div class="nav-collapse">
						<ul class="nav">
						
						</ul>
						
						<ul class="nav pull-right">
							<li> <a href="@routes.Admin.mensaje"> Mensajes</a>
<!-- divicion linea vertical<li class="divider-vertical"></li> -->
							<li> <a href="@routes.Admin.index"> Cuentas</a>
							<li class="dropdown">

								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrador <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="@routes.Admin.cambiarPass">Cambiar contraseña</a></li>
									<li><a href="@routes.Admin.cerrarSesion"><i class="icon-off"></i> Cerrar sesión</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>			
			</div>
		</div>
		
		
	    <!-- Contenido de la pagina -->
	    @content          

		
    </body>
</html>