@(user: Administrador, lista: List[Correo])

@inicioadmin(title = "Mensajes"){

@if(lista.isEmpty()){
					<h3>Mensajes</h3>
				}else {
					<table align="center">
						<tr>
							<td><h3>Mensajes</h3></td>
							
						</tr>
					</table>
						
													
					
					<div class="container well">
					<div class=span8>
						<table class="table">
					
							@for(p<-lista){
<!-- 							1 mensaje no leido, 2 mensaje leido -->
								@if(p.estado == 1){
									<form id="form1" class="well" action="" method="post">
									<tr>
											<td><font size="4"><a href="@routes.Admin.leerMensaje(p.id)">@p.nombre </a></font></td>
											<td>Asunto: @p.asunto </td>
											<td>Correo: @p.correo</td>
											<td><img src="@routes.Assets.at("images/envelope.gif")"></td>
														
									</tr>
									</form>
									}else{
										@if(p.estado == 2){
									<form id="form1" class="well" action="" method="post">
									<tr>
											<td><font size="4"><a href="@routes.Admin.leerMensaje(p.id)">@p.nombre </a></font></td>
											<td>Asunto: @p.asunto </td>
											<td>Correo: @p.correo</td>
											<td><img src="@routes.Assets.at("images/envelope_open.gif")"></td>
														
									</tr>
									</form>}else{
										<form id="form1" class="well" action="" method="post">
									<tr>
											<td><font size="4"><a href="@routes.Admin.leerMensaje(p.id)">@p.nombre </a></font></td>
											<td>Asunto: @p.asunto </td>
											<td>Correo: @p.correo</td>
											<td><img src="@routes.Assets.at("images/send.gif")"></td>
														
									</tr>
									</form>}
									}
									
															}					
						</table>
					</div>
				</div>	
				}


}