@(user: Administrador, lista: List[Correo], error: String)

@inicioadmin(title = "Mensajes"){

@if(lista.isEmpty()){
					<table align="center">
						<tr>
							<td><h3>Mensajes</h3><span style="color: red;">@error</span>
							
						</tr>
					</table>
				}else {
					<table align="center">
						<tr>
							<td><h3>Mensajes</h3></td><span style="color: red;">@error</span>
							
						</tr>
					</table>
						
													
					
					<div class="container well">
					<div class=span11>
						<table class="table">
					
							@for(p<-lista){
							<form name="formulario" action="" method="post">
<!-- 							1 mensaje no leido, 2 mensaje leido, 3 respondido -->
								@if(p.estado == 1){
									<tr>
											<td><font size="4"><a href="@routes.Admin.leerMensaje(p.id)">@p.nombre </a></font></td>
											<td>Asunto: @p.asunto </td>
											<td>Correo: @p.correo</td>
											<td><img src="@routes.Assets.at("images/envelope.gif")"></td>
											<td><input type="checkbox" name="id1" value="@p.id"></td>
											<input type="hidden" name="nombre" value="@p.nombre">
											<input type="hidden" name="asunto" value="@p.asunto">
											<input type="hidden" name="correo" value="@p.correo">
											<input type="hidden" name="mensaje" value="@p.mensaje">
											<input type="hidden" name="estado" value="@p.estado">
											
														
									</tr>
									}else{
										@if(p.estado == 2){
									<tr>
											<td><font size="4"><a href="@routes.Admin.leerMensaje(p.id)">@p.nombre </a></font></td>
											<td>Asunto: @p.asunto </td>
											<td>Correo: @p.correo</td>
											<td><img src="@routes.Assets.at("images/envelope_open.gif")"></td>
											<td><input type="checkbox" name="id1" value="@p.id"></td>
											<input type="hidden" name="nombre" value="@p.nombre">
											<input type="hidden" name="asunto" value="@p.asunto">
											<input type="hidden" name="correo" value="@p.correo">
											<input type="hidden" name="mensaje" value="@p.mensaje">
											<input type="hidden" name="estado" value="@p.estado">
														
									</tr>
										}else{
										
									<tr>
											<td><font size="4"><a href="@routes.Admin.leerMensaje(p.id)">@p.nombre </a></font></td>
											<td>Asunto: @p.asunto </td>
											<td>Correo: @p.correo</td>
											<td><img src="@routes.Assets.at("images/send.gif")"></td>
											<td><input type="checkbox" name="id1" value="@p.id"></td>
											<input type="hidden" name="nombre" value="@p.nombre">
											<input type="hidden" name="asunto" value="@p.asunto">
											<input type="hidden" name="correo" value="@p.correo">
											<input type="hidden" name="mensaje" value="@p.mensaje">
											<input type="hidden" name="estado" value="@p.estado">	
											
									</tr>
										}
									}
									
													}
						<input type="hidden" name="id"> 							
						<a class="btn-link" onclick="cuenta()" >Eliminar seleccionados</a>
						</form>					
						</table>
					</div>
				</div>	
				}

	<script type="text/javascript">
	
	function cuenta() {
		
		var cont = 0;
		var valores = [];
		var c = 0;
		var concatena = "";
		for(var x=0; x < document.formulario.id1.length; x++) {
			if (document.formulario.id1[x].checked == true) {
				concatena = concatena + '00' + document.formulario.id1[x].value;
			}
		}
		
		document.formulario.id.value = concatena;
		document.formulario.action = "@routes.Admin.eliminarVarios";
		document.formulario.submit();
	}
	
	</script>	
		
}