@(user: Usuario, lista: List[Usuario])

@app(title = "Orgrup", user.nombre) {
	
	<div class="container">
		<ul class="nav nav-tabs" id="myTab">
  			<li class="active"><a href="#buscar_contactos">Buscar contactos</a></li>
  			<li><a href="#gestionar_contactos">Gestionar contactos</a></li>
		</ul>
 
		<div class="tab-content">
 	 		<div class="tab-pane active" id="buscar_contactos" ">
 	 				<form name="form0" action="@routes.Contactos.buscaContactos" method="post">
 	 					<input type="text" class="span5" placeholder="Ingrese el nombre o correo" name="nombre" id="nombre" required>&nbsp;&nbsp;&nbsp;
 	 					<input type="submit" class="btn" value="Buscar contacto">
 	 				</form>
 	 				
 	 		</div>
 	 		
 	 		<div class="tab-pane" id="gestionar_contactos">gestiona todos tus contactos</div>
 	 	
 	 	</div>
 	 	
  			
		
				@if(lista.isEmpty()){
					<br>
				}else {
						<h3>Busqueda</h3>
						<div class=span8>
							<table class="table">
							@for(p<-lista){
								<form name="form1" action="@routes.Contactos.agregaContacto" method="post">
									<tr>
										<input type="hidden" name="usuario1.correo" value="@user.correo">
										<input type="hidden" name="usuario2.correo" value="@p.correo">
										<input type="hidden" name="amigos" value="no">
										<td><img style="width: 48px; height: 48px;" src="/assets/images/usuarios/@p.imagen" alt="imagen usuario"></td>
										<td><font size="4">@p.nombre</font><br>Correo: @p.correo<br>Vive en: @p.ciudad</font></td>
										@if(user.correo != p.correo){
										<td><input type="submit" class="btn" value="Agregar contacto"></td>
										}else{
											<td></td>
										}
									</tr>
								</form>
							}					
						</table>
					</div>
				}
				
		</div>
		
	<script>
		$('#myTab a').click(function (e) {
			e.preventDefault();
		  	$(this).tab('show');
		})
		
	</script>

}