@(user: String)

@app(title = "Orgrup", user) {
	
	<div class="container">
		<ul class="nav nav-tabs" id="myTab">
  			<li class="active"><a href="#buscar_contactos">Buscar contactos</a></li>
  			<li><a href="#gestionar_contactos">Gestionar contactos</a></li>
		</ul>
 
		<div class="tab-content">
 	 		<div class="tab-pane active" id="buscar_contactos">
 	 				<form class="form-horizontal" action="@routes.Contactos.buscaContactos" method="post">
 	 					<input type="text" class="span5" placeholder="Ingrese el nombre o correo" name="usuario_correo2" id="usuario_correo2" required>&nbsp;&nbsp;&nbsp;
 	 					<button type="submit" class="btn">Buscar contacto</button>
 	 				</form>
 	 				
 	 		</div>
  			<div class="tab-pane" id="gestionar_contactos">gestiona todoss tus contactos</div>

		</div>
 	</div>
 		
	<script>
		$('#myTab a').click(function (e) {
			e.preventDefault();
		  	$(this).tab('show');
		})
	</script>

}