@(user: Usuario, list: List[Contacto])

@app(title = "Orgrup", user.nombre) {

<div class="container">
		<div class="tabbable">
			<ul class="nav nav-tabs">
  				<li ><a href="@routes.Contactos.contactos">Buscar contactos</a></li>
  				<li class="active"><a href="@routes.Contactos.gestionaContactos">Gestionar contactos</a></li>
			</ul>
 
			<div class="tab-content">
 	 			<div class="tab-pane active">
 	 				<table class="table table-hover">
 	 					@for(p<-list) {
 	 						<tr>
 	 							<td><img style="width: 65px; height: 65px;" src="/assets/images/usuarios/@{Usuario.getImagen(p.usuario2.correo)}" class="img-polaroid" alt="imagen usuario"></td>
 	 							<td><font size="4">@{Usuario.getNombre(p.usuario2.correo)}</font><br>
 	 							Correo: @p.usuario2.correo <br>
 	 							Vive en: @{Usuario.getCiudad(p.usuario2.correo)}</td>
								<td><a class="btn btn-primary" href="@routes.Contactos.muestraElPerfil(p.usuario2.correo)">Ver Perfil</a></td>
 	 						
	 	 						<form action="@routes.Contactos.eliminaContacto" method="post">
	 	 							<input type="hidden" name="usuario1.correo" value="@user.correo">
	 	 							<input type="hidden" name="usuario2.correo" value="@p.usuario2.correo">
	 	 							<td><input type="submit" class="btn btn-danger" value="Eliminar"></td>
	 	 						</form>
 	 						</tr>
 	 					}
 	 				</table>
 	 			</div>
 	 		</div>
 	 	</div>
 	 </div>
}