@(usuario: Usuario, tareas: List[Tarea], tareaMostrar: Tarea)

@import java.util.Date

@app(title = "Orgrup", usuario.nombre) {

<script type='text/javascript'>

	$(document).ready(function() {
		
// 		$('#inicio').timepicker({
// 		    showPeriodLabels: false,
// 		    hourText: 'Hora',
// 		    minuteText: 'Minutos'
// 		});
		
// 		$('#fin').timepicker({
// 		    showPeriodLabels: false,
// 		    hourText: 'Hora',
// 		    minuteText: 'Minutos'
// 		});
		
//  		$('#inicio2').timepicker({
// 		    showPeriodLabels: false,
// 		    hourText: 'Hora',
// 		    minuteText: 'Minutos'
// 		});
		
// 		$('#fin2').timepicker({
// 		    showPeriodLabels: false,
// 		    hourText: 'Hora',
// 		    minuteText: 'Minutos'
// 		});
		
		
// 		$('#timepicker').timepicker({
// 		    showPeriodLabels: false,
// 		});
		
		
		// si hace click en un evento muestra el modal con los datos.
		@if(tareaMostrar.nombre != null) {
			$('#myModalEdita').modal('show');
		}
		
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		var calendar = $('#calendar').fullCalendar({
		    
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			
			selectable: true,
			selectHelper: true,
			
			select: function(start, end, allDay) {
				document.forms.tarea.nombre.value = "Nueva Tarea";
				if((start.getMonth() + 1) < 10)
					var mes1 = 0 + "" + (start.getMonth() + 1);
				else 
					var mes1 = (start.getMonth() + 1);

				if((end.getMonth() + 1) < 10)
					var mes2 = 0 + "" + (end.getMonth() + 1);
				else 
					var mes2 = (end.getMonth() + 1);
				
				if(start.getMinutes() == 0)
					var min1 = "00";
				else
					var min1 = start.getMinutes();
				if(end.getMinutes() == 0)
					var min2 = "00";
				else
					var min2 = end.getMinutes();
				
				if(start.getHours() == 0)
					var hora1 = "00";
				else
					var hora1 = start.getHours();
				if(end.getHours() == 0)
					var hora2 = "00";
				else
					var hora2 = end.getHours();
				
				document.forms.tarea.fecha_inicio.value = start.getDate() + '/' + mes1 + '/' + start.getFullYear();
				document.forms.tarea.hora_inicio.value = hora1 + ":" + min1 + ":" + "00";
				document.forms.tarea.fecha_fin.value = end.getDate() + '/' + mes2 + '/' + end.getFullYear();
				document.forms.tarea.hora_fin.value = hora2 + ":" + min2 + ":" + "00";
				$('#myModal').modal('show');
			},
			
			eventClick: function(calEvent, jsEvent){
				document.forms.edita.id.value = calEvent.id;
		    	document.forms.edita.nombre.value = calEvent.title;
		    	enviar_a("@routes.Home.prueba");
		    },	    

		    events: [
				@if(!tareas.isEmpty()) {
					@for(l <- tareas) {
						{
							id: @l.id,
							title: '@l.nombre',
							start: new Date(y, @l.fecha_inicio.getMonth(), @l.fecha_inicio.getDate(), @l.hora_inicio.getHours(), @l.hora_inicio.getMinutes()),
							end: new Date(y, @l.fecha_fin.getMonth(), @l.fecha_fin.getDate(), @l.hora_fin.getHours(), @l.hora_fin.getMinutes()),
							allDay: false
						},
					}
				}

			],
		});
		
	});
	
	function enviar_a(url){
	    document.edita.action = url;
	    document.edita.submit();
	 }
	
	function formatea_envia() {
		document.forms.tarea.hora_inicio.value = document.forms.tarea.hora_inicio.value + ":00";
		document.forms.tarea.hora_fin.value = document.forms.tarea.hora_fin.value + ":00";
		document.tarea.action = "@routes.Home.guardaTarea";
	    document.tarea.submit();
	}
	
	function redireccionar() {
		location.href="@routes.Home.index";
	}
	
</script>

	<div class="row-fluid">
		<div class="span2">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li> <img style="width: 90px; height: 90px;" src="/assets/images/usuarios/@usuario.imagen" alt="imagen usuario"> </li>
					<li><b>@usuario.nombre</b></li>					
				</ul>
			</div>

			<div class="well">
				contactos
			</div>							 
		</div>
			
		<div class="span8">
			<div>
<!-- 				<input type="text" id="time1"><br><br><br><br> -->
				<input type="text" id="timepicker"><br><br><br><br>
				
				<div id='calendar'></div>
			
				<!-- <a class="btn" data-toggle="modal" href="#myModal" >Nueva Tarea</a> -->
				
			</div>    
		</div>

		<div class="span2">
   			<div class="well">
   				Grupos
   			</div>
		</div>
	</div>
	
	<!-- 	Modal pop-up guarda -->
	<div class="modal hide" id="myModal">	
	
		<form action="@routes.Home.guardaTarea" name="tarea" method="post">
			
			<div class="modal-header">
	    		<button type="button" class="close" data-dismiss="modal">×</button>
	    		<h3>Nueva Tarea</h3>
	    	</div>
	    		    
	    	<div class="modal-body">
	    	
	    		<div class="control-group">
	    			<label class="control-label">Nombre Tarea</label>
	    			<div class="controls">
	    				<input class="input-medium" type="text" name="nombre" required>
	    			</div>
	    		</div>
	    		
	    		<div class="control-group">
		    		<label class="control-label">Duracion Tarea</label>
		    		<div class="controls">
			    		<input class="input-small" type="text" name="fecha_inicio">
			    		<input class="input-mini" type="text" id="inicio" name="hora_inicio">
			    		a
			    		<input class="input-small" type="text" name="fecha_fin">
			    		<input class="input-mini" type="text" id="fin" name="hora_fin">
			    		
			    	</div>
	    		</div>
	    		
	    		<div class="control-group">
	    			<label class="control-label">Descripción</label>
	    			<div class="controls">
	    				<textarea class="input-xlarge span3" name="descripcion" maxlength="500"></textarea>
	    			</div>
	    		</div>
 	    		
 	    		<div class="control-group">
	 	    		<label class="control-label">Prioridad Tarea</label>
	 	    		<div class="controls">
	 	    			<select class="span1" name="prioridad">
		 	    			<option value="1">1</option>
		 	    			<option value="2">2</option>
		 	    			<option value="3">3</option>
		 	    		</select>
		 	    	</div>
		 	    </div>
		 	    
		 	    <input type="hidden" name="usuario.correo" value="@usuario.correo">
	    		
	    	</div>
	    
	    	<div class="modal-footer">
	    		<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
	    		<input type="button" onClick=formatea_envia() class="btn btn-primary" value="Crear">
	    	</div>
    	</form>			
			
    </div>
    
	<!-- 	Modal pop-up Edita y elimina-->
	<div class="modal hide" id="myModalEdita">	
	
		<form name="edita" method="post">
			
			<div class="modal-header">
	    		<button type="button" class="close" data-dismiss="modal">×</button>
	    		<h3>Tarea</h3>
	    	</div>
	    	
	    	<div class="modal-body">
	    		<input type="hidden" name="id" value="@if(tareaMostrar.id != null) {@tareaMostrar.id}">
	    		<div class="control-group">
	    			<label class="control-label">Nombre Tarea</label>
	    			<div class="controls">
	    			
	    				<input class="input-medium" type="text" name="nombre" value="@tareaMostrar.nombre" required>
	    			
	    			</div>
	    		</div>
	    		
	    		<div class="control-group">
		    		<label class="control-label">Duracion Tarea</label>
		    		<div class="controls">
			    		<input class="input-small" type="text" name="fecha_inicio" value='@if(tareaMostrar.fecha_inicio != null) {@tareaMostrar.fecha_inicio.format("dd/MM/yyyy")}'>
			    		<input class="input-mini" type="text" name="hora_inicio" id="inicio2" value='@if(tareaMostrar.hora_inicio != null) {@tareaMostrar.hora_inicio.format("HH:mm:ss")}'>
			    		a
			    		<input class="input-small" type="text" name="fecha_fin" value='@if(tareaMostrar.fecha_fin != null) {@tareaMostrar.fecha_fin.format("dd/MM/yyyy")}'>
			    		<input class="input-mini" type="text" name="hora_fin" id="fin2" value='@if(tareaMostrar.hora_fin != null) {@tareaMostrar.hora_fin.format("HH:mm:ss")}'>
			    	</div>
	    		</div>
	    		
	    		<div class="control-group">
	    			<label class="control-label">Descripción</label>
	    			<div class="controls">
	    				<textarea class="input-xlarge span3" name="descripcion" maxlength="500">@tareaMostrar.descripcion</textarea>
	    			</div>
	    		</div>
 	    		
 	    		<div class="control-group">
	 	    		<label class="control-label">Prioridad Tarea</label>
	 	    		<div class="controls">
	 	    			<select class="span1" name="prioridad">
	 	    				<script type="text/javascript">
	 	    					if (@tareaMostrar.prioridad == 1) {
	 	    						document.write("<option value='1' selected='selected'>1</option>");
	 	    						document.write("<option value='2'>2</option>");
	 	    						document.write("<option value='3'>3</option>");
	 	    					} else if(@tareaMostrar.prioridad == 2) {
	 	    						document.write("<option value='1'>1</option>");
	 	    						document.write("<option value='2' selected='selected'>2</option>");
	 	    						document.write("<option value='3'>3</option>");
	 	    					} else {
	 	    						document.write("<option value='1'>1</option>");
	 	    						document.write("<option value='2'>2</option>");
	 	    						document.write("<option value='3' selected='selected'>3</option>");
	 	    					}
	 	    				</script>
		 	    		</select>
		 	    	</div>
		 	    </div>
		 	    
		 	    <input type="hidden" name="usuario.correo" value="@usuario.correo">
	    		
	    	</div>
	    
	    	<div class="modal-footer">
				<a class="btn btn-primary" onClick=enviar_a('@routes.Home.editaTarea')> 
					<i class="icon-refresh icon-white"> </i>
					Actualizar
				</a>
				<a class="btn btn-danger" onClick=enviar_a('@routes.Home.eliminaTarea')>
					<i class="icon-trash icon-white"></i>
					Eliminar 
				</a>
				<input class="btn" data-dismiss="modal" type="button" onclick=redireccionar() value="Cerrar"/>
	    	</div>
    	</form>			
			
    </div>	
}