@(usuario: String)


@app(title = "Orgrup", usuario) {
	

		<div class="row-fluid">
			<div class="span2">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li> <img style="width: 90px; height: 90px;" src="/assets/images/usuarios/@{Home.getImagen()}" alt="imagen usuario"> </li>
						<li><b>@usuario</b></li>						
					</ul>
				</div>								 
			</div>
			
			<div class="span8">
				<div class="well">

				</div>    
			</div>

			<div class="span2">
    			<div class="well">
    				Grupos
    			</div>
			</div>
		</div>

	
}