@(user: Usuario, lista: List[Mensaje])

@app(title = "Orgrup", user.nombre) {

	<div class="container">
		<div class="tabbable">
			<ul class="nav nav-tabs" id="myTab">
  				<li><a href="@routes.Mensajes.mensajesRecibidos">Mensajes recibidos</a></li>
  				<li class="active"><a href="@routes.Mensajes.mensajesEnviados">Mensajes enviados</a></li>
  				<li><a href="@routes.Mensajes.crearMensaje">Redactar mensaje</a></li>
  			</ul>
  			
  				<div class="tab-pane" id="mensajes_enviados">
 	 					<table class="table table-hover">
 	 						@for(p<-lista){
 	 							<form>
 	 			 	 				<tr>
 	 			 	 					<td><b>Para: </b><a href="@routes.Mensajes.leerMensaje(p.id)">@{Usuario.getNombre(p.destinatario)}</a></td>
 	 			 	 					<td>@p.asunto</td>	
 	 			 	 					<td>@p.fecha.format("dd/MM/yyyy hh:mm:ss")</td>
 	 			 	 				</tr>
 	 			 	 				<input>
 	 			 	 			
 	 			 	 		}	
 	 			 	 			<input type="hidden" name="id">
 	 			 	 			<a class="btn" onclick="obtieneId()">Eliminar</a>
 	 			 	 			</form>		 	 		
 	 			 		</table>
 	 				</div>
 	 				
  			
  		</div>
  	</div>
  	
  	<script type="text/javascript">
	
	function obtieneId() {
		
		var cont = 0;
		var valores = [];
		var c = 0;
		var concatena = "";
		for(var x=0; x < document.formulario.id1.length; x++) {
			if (document.formulario.id1[x].checked == true) {
				concatena = concatena + '00' + document.formulario.id1[x].value;
			}
			
		}
		document.formulario.id.value = concatena;
		document.formulario.action = "@routes.Mensajes.eliminaMensajes";
		document.formulario.submit();
	}
	
	</script>	
 }