@(user: Usuario, list: List[Mensaje])

@app(title = "Orgrup", user.nombre) {
	
	
	<div class="container">
		<fieldset>
			<legend>Mensajes sin leer</legend><br>
					<table class="table table-hover">
						@for(p<-list) {
								<tr>
									<td><b>De</b>: <a href="@routes.Mensajes.leerMensaje(p.id)">@Usuario.muestraNombre(p.remitente.correo)</a></td>
									<td>@p.asunto</td>
									<td>@p.fecha.format("dd/MM/yyyy hh:mm:ss")</td>
								</tr>
						}
					</table>
		</fieldset>
	</div>
	
}