@(user: Usuario, lista: List[Mensaje], lista2: List[Mensaje], lista3: List[Contacto])


@app(title = "Orgrup", user.nombre){

	<div class="container">
		<div class="tabbable">
			<ul class="nav nav-tabs" id="myTab">
  				<li class="active"><a href="#mensajes_recibidos" data-toggle="tab">Mensajes recibidos</a></li>
  				<li><a href="#mensajes_enviados" data-toggle="tab">Mensajes enviados</a></li>
  				<li><a href="#redactar_mensaje" data-toggle="tab">Redactar mensaje</a></li>
  			</ul>
  			
  				<div class="tab-content">
 	 				<div class="tab-pane active" id="mensajes_recibidos">
 	 					<table class="table">
 	 			 	 			@for(p<-lista){
 	 			 	 				<form>
 	 			 	 					<tr>
 	 			 	 						<td><input type="checkbox" value="@p.id"></td>
 	 			 	 						<td><a href="@routes.Mensajes.leerMensaje(p.id)">@{Usuario.muestraNombre(p.remitente.correo)}</a></td>
 	 			 	 						<td>@p.asunto</td>
 	 			 	 						<td>@p.fecha.format("dd/MM/yyyy hh:mm:ss")</td>	
 	 			 	 					</tr>
 	 			 	 				</form>	
 	 			 	 			} 	 			 	 		
 	 			 		</table>
 	 				</div>
 	 				
 	 				<div class="tab-pane" id="mensajes_enviados">
 	 					<table class="table">
 	 						@for(p2<-lista2){
 	 			 	 			<tr>
 	 			 	 				<td><b>Para: </b><a href="@routes.Mensajes.leerMensaje(p2.id)">@{Usuario.muestraNombre(p2.destinatario)}</a></td>
 	 			 	 				<td>@p2.asunto</td>	
 	 			 	 				<td>@p2.fecha.format("dd/MM/yyyy hh:mm:ss")</td>
 	 			 	 			</tr>
 	 			 	 		}			 	 		
 	 			 		</table>
 	 				</div>
 	 				
 	 				<div class="tab-pane" id="redactar_mensaje">
 	 					<table class="span5">
 	 						<tr>
 	 			 	 			<td><label>Para: </label> </td>
 	 			 	 		<td>
 	 						
 	 								<form action="@routes.Mensajes.enviaMensaje" method="post">
 	 			 	 					<select name="destinatario">
 	 			 	 						@for(p3<-lista3){
 	 			 	 						<option value="@p3.usuario2.correo">@p3.usuario2.correo</option>	
 	 			 	 						}
 	 			 	 					</select>
 	 			 	 				
 	 			 	 		</td>
 	 			 	 		</tr>
 	 			 	 		
 	 			 	 		<tr>
 	 			 	 			<td><label for="asunto">Asunto</label></td>
 	 			 	 			<td><input type="text" name="asunto" id="asunto"></td>
 	 			 			</tr>
 	 			 			
 	 			 			<tr>
 	 			 				<td>Mensaje</td>
 	 			 				<td><textarea rows="6" name="mensaje"></textarea></td>
 	 			 			</tr>
 	 			 					
 	 			 			<input type="hidden" name="remitente.correo" value="@user.correo">
 	 			 					
 	 			 			<tr>
 	 			 				<td><br><input type="submit" class="btn" value="Enviar mensaje"></td>
 	 			 				<td></td>
 	 			 			</tr>
 	 			 			
 	 			 			</form>
 	 			 		</table>
 	 				</div>
 	 				
  	 			</div>				
 	 		</div>
		</div>
}