@(user: Usuario, list: List[Mensaje])

@app(title = "Orgrup", user.nombre) {

	<div class="container well">
		<div class="row">
	 		<div class="span11" style="float:right">
              	  <div class="span9" style="float:left;">
	 				@for(p<-list){
	 					<form>
	 						<fieldset>
	 							<legend>@p.asunto</legend>
	 								<img style="width: 48px; height: 48px;" src="/assets/images/usuarios/@{Usuario.getImagen(p.remitente.correo)}">
	 								<b>@{Usuario.getNombre(p.remitente.correo)}</b>
									@p.remitente.correo<br>
									<div class="well">
										@p.mensaje
									</div>
<!-- 								<input type="button" class="btn" onclick="history.back(-1)" value="Atras"> -->
									<a href="@routes.Mensajes.mensajesRecibidos()" class="btn">Atras</a>
							</fieldset>
						</form>
					}
	 					
				</div>
			</div>
		</div>
	</div>
}