@(user: Usuario, user2: Usuario)

@app(title = "Orgrup", user.nombre) {

	<div class="container">
 		<div class="well well-small">
			<table>
				<tr>
					<td><img style="width: 150px; height: 150px;" src="/assets/images/usuarios/@user2.imagen" alt="imagen usuario"></td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td style="position: absolute;"><font size="6"><b>@user2.nombre</b></b></font><br>
					<font size="4">@user2.correo</font><br><br>
					@user2.leyenda
				</td>
				<td style="position: absolute; top:50; right:0; width:350px;"><a href="#" role="button" class="btn" data-toggle="modal" onClick="modal()"">Mensaje</button></td>
				
				
				<!-- Modal -->
				<div class="modal hide fade" id="myModal">
					<form action="@routes.Mensajes.enviaMensajeModal(user2.correo)" enctype="multipart/form-data" method="post">
						<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 							<div class="modal-header" >
    							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    							<h3 id="myModalLabel">Mensaje</h3>
  							</div>
  							<div class="modal-body">
  								<label for="destinatario">Para</label>
  								<input type="text" name="destinatario" value="@user2.correo" id="destinatario" readonly="readonly">
   								<label for="asunto">Asunto</label>
   								<input type="text" name="asunto" id="asunto" required>
   								<label for="mensaje">Mensaje</label>
   								<textarea rows="3" cols="20" name="mensaje" id="mensaje" required></textarea>
   								<input type="hidden" name="remitente.correo" value="@user.correo">
   								<input type="hidden" name="leido" value="no">
   								<input type="hidden" name="estado" value="enviado">
  							</div>
  							<div class="modal-footer">
   								<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</a>
    							<input type="submit" class="btn" value="Enviar mensaje" class="btn btn-primary" >
  							</div>
						</div>
					</form>
				</div>
				
				</tr>
			</table>
		</div>	
  </div>
  
  <div class="container">
  	<div class="well well-small">
  		<table>
  			<tr>
  				<td><b>Mas información</b></td>
  			</tr>
  			<tr>
  				<td>Ciudad de origen: @user2.ciudad</td>
  			</tr>
  			<tr>
  				<td>Telefono: @user2.telefono</td>
  			</tr>
  		</table>
  	</div>
  </div>
  
	<script type="text/javascript">
	
		function modal() {
			$('#myModal').modal('show');
		}
		
	</script>
  
	
}