@(user: Usuario, user2: Usuario)

@app(title = "Orgrup", user.nombre) {

    <style type="text/css" media="screen">
        p { word-wrap: break-word; }
    </style>

    @if(Contacto.compruebaUsuarioExistente(user.correo, user2.correo) != "" || user.correo == user2.correo) {
        <div class="container span11 perfil" style="box-shadow: 2px 2px 5px 2px #999;">
            <div class="row-fluid">
                <div class="span3">
                    <img id="imagen" class="img-polaroid" style="border-radius: 5px; width: 160px; height: 160px;" src="/assets/images/usuarios/@user2.imagen" alt="imagen usuario">
                </div>
                <div class="span9" id="perfil">
                    @if(!Usuario.cuentaInactiva(user.correo)) {
                        @if(user.correo != user2.correo) {
                            <a href="#" role="button" class="btn btn-success pull-right" data-toggle="modal" onClick="modal()">
                                Enviar mensaje
                            </a>
                        }
                    }
                    <b><font size="6">@user2.nombre</font></b><br>
                    <a href="mailto:@user2.correo">@user2.correo</a><br>
                    <address>
                        Ciudad: @user2.ciudad<br>
                        @if(user2.telefono != null) {
                            <abbr title="Telefono">
                                Telefono: @user2.telefono<br>
                            </abbr>
                        }
                        @if(user2.leyenda != null) {
                        	<hr>
                        	Sobre mi:
                            <i><p>@user2.leyenda</p></i>
                        }
                    </address>
                </div>
            </div>
        </div>
    } else {
        <script>
            window.history.back(-1);
        </script>
    }

    <!-- Modal -->
    <div class="modal hide fade" id="myModal">
        <form action="@routes.Mensajes.enviaMensajeModal(user2.correo)" method="post">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Mensaje</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="span1 offset1">
                        <label for="destinatario">Para</label>
                        <input type="text" name="destinatario" value="@user2.correo" id="destinatario" readonly="readonly">
                        <label for="asunto">Asunto</label>
                        <input type="text" name="asunto" id="asunto" autofocus="autofocus" placeholder="Asunto" required>
                        <label for="mensaje">Mensaje</label>
                        <textarea rows="3" cols="20" name="mensaje" id="mensaje" placeholder="Mensaje" required></textarea>
                        <input type="hidden" name="remitente.correo" value="@user.correo">
                        <input type="hidden" name="leido" value="no">
                        <input type="hidden" name="estado" value="enviado">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</a>
                <input type="submit" value="Enviar mensaje" class="btn btn-primary" >
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function modal() {
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }
    </script>
}