@(user: String, correo: String, error1: String, error2: String, p1: String, p2: String, p3: String)

@app(title = "Orgrup", user) {

	<div class="container">
		<ul id="myTab" class="nav nav-tabs">
			<li>
				<a href="@routes.Cuenta.perfil">Perfil</a>
			</li>
			<li class="active">
				<a href="@routes.Cuenta.password">Contraseña</a>
			</li>
		</ul>
			
	            
		<form class="form-horizontal well span6" id="myform" action="@routes.Cuenta.actualizaPassword" method="post">
			<div class="control-group">
				<label class="control-label" for="pass1">Contraseña anterior</label>
				<div class="controls">
					<input class="input-xlarge" id="pass1" type="password" name="passOld" maxlength="20" value="@p1">
					<br>
					<span style="color: red;">@error1</span>
				</div>
			</div>
						
			<div class="control-group">
				<label class="control-label" for="pass2">Nueva Contraseña</label>
				<div class="controls">
					<input class="input-xlarge" id="pass2" type="password" name="passNew" maxlength="20" value="@p2" required>
				</div>
			</div>
						
			<div class="control-group">
				<label class="control-label" for="pass3">Confirmar Contraseña</label>
				<div class="controls">
					<input class="input-xlarge" id="pass3" type="password" name="passNew2" maxlength="20" value="@p3" required>
					<span style="color: red;">@error2</span>
				</div>
			</div>
						
			<div class="form-actions">
				<button type="submit" id="fat-btn" class="btn btn-primary" data-loading-text="Guardando..."> Guardar </button>
				<a class="btn pull-right" href="@routes.Home.index">Cancelar</a>
			</div>		
		</form>
	</div>
	
	<script type="text/javascript">
 	   	$('#fat-btn').on('click', function () {
 	   		$(this).button('loading')
 	   	})
 	</script>

 	
}