@(usuario: Usuario, error1: String, error2: String, p1: String, p2: String, p3: String, cambioPass: String)

@app(title = "Orgrup", usuario.nombre) {

	<div class="container">
		<ul id="myTab" class="nav nav-tabs">
			<li>
				<a href="@routes.Cuenta.perfil">Perfil</a>
			</li>
			<li class="active">
				<a href="@routes.Cuenta.password">Contraseña</a>
			</li>
		</ul>
			
	            
		<form class="form-horizontal well span6" id="myform" action="@routes.Cuenta.actualizaPassword" method="post">
			<div class="control-group">
				<label class="control-label" for="pass1">Contraseña anterior</label>
				<div class="controls">
					<input class="input-xlarge" id="pass1" type="password" name="passOld" maxlength="20" value="@p1">
					<br>
					<span class="error1" style="color: red;">@error1</span>
				</div>
			</div>
						
			<div class="control-group">
				<label class="control-label" for="pass2">Nueva Contraseña</label>
				<div class="controls">
					<input class="input-xlarge" id="pass2" type="password" name="passNew" maxlength="20" value="@p2" required>
				</div>
			</div>
						
			<div class="control-group">
				<label class="control-label" for="pass3">Confirmar Contraseña</label>
				<div class="controls">
					<input class="input-xlarge" id="pass3" type="password" name="passNew2" maxlength="20" value="@p3" required>
					<span class="error2" style="color: red;">@error2</span><br>
					<span style="color: green;">@cambioPass</span>
					<label class="error" style="color: red;" id="username_length">La contraseña debe estar formada entre 6-20 carácteres</label>
				</div>
			</div>
						
			<div class="form-actions">
				<button type="submit" id="fat-btn" class="btn btn-primary" data-loading-text="Guardando..."> Guardar </button>
				<a class="btn pull-right" href="@routes.Home.index">Cancelar</a>
			</div>		
		</form>
	</div>
	
	<script type="text/javascript">
		$('.error').hide();
		
 	   	$('#fat-btn').on('click', function () {
 	   		 	   		
	 	   	var pass2 = $("input#pass2").val().length;
	 	   	var pass3 = $("input#pass3").val().length;
	 	   	
			if (pass2 < 6) {
	 	       $("label#username_length").show();
	 	       $("input#pass2").focus();
	 	       return false;
			}
			else if (pass3 < 6) {
		 	       $("label#username_length").show();
		 	       $("input#pass3").focus();
		 	       return false;
				}
			else {
				$(this).button('loading')
			}
 	   });
 	   	
		$('#pass1').keypress(function() {
			$('.error1').hide();
			$('.error').hide();
		});
 	   	
		$('#pass2').keypress(function() {
			$('.error2').hide();
			$('.error').hide();
		});
 	   
		$('#pass3').keypress(function() {
			$('.error2').hide();
			$('.error').hide();
		});
 	</script>

}