@(user: Usuario, list: List[Mensaje])

@app(title = "Orgrup", user.nombre) {
	
	
	<div class="container">
		<fieldset>
			<legend>Mensajes sin leer</legend><br>
					<table class="table table-hover">
						@if(!list.isEmpty()) {
						@for(p<-list) {
							<form name="formulario" action="" method="post">
								<tr>
									<td><input type="checkbox" name="id1" value="@p.id"></td>
									<td><b>De</b>: <a href="@routes.Mensajes.leerMensaje(p.id)">@Usuario.getNombre(p.remitente.correo)</a></td>
									<td>@p.asunto</td>
									<td>@p.fecha.format("HH:mm:ss dd/MM/yyyy")</td>
								</tr>
						}
							<input type="hidden" name="asunto"> 
 	 			 	 		<a class="btn" onclick="cuenta()" >Eliminar</a>
						</form>
						}
					</table>
		</fieldset>
	</div>
	
	<script type="text/javascript">
	
	function cuenta() {
		var cont = 0;
		var valores = [];
		var c = 0;
		var concatena = "";

		var checkboxes = document.formulario.id1.length;
		
		if (checkboxes > 1) {
				for(var x=0; x < document.formulario.id1.length; x++) {
					if (document.formulario.id1[x].checked == true) {
						concatena = concatena + ';' + document.formulario.id1[x].value;
					}
				}
		}
		else {
			if(document.formulario.id1.checked == true) {
				concatena = ';' + document.formulario.id1.value;
			}
		}
		document.formulario.asunto.value = concatena;
		document.formulario.action = "@routes.Mensajes.eliminaMensajes(3)";
		document.formulario.submit();
	}	
	
	</script>	
}