@(usuario: Usuario, error: String)

@app(title = "Desactivar la cuenta", usuario.nombre) {

	<div class="container">
		<ul id="myTab" class="nav nav-tabs">
			<li>
				<a href="@routes.Cuenta.perfil">Perfil</a>
			</li>
			<li>
				<a href="@routes.Cuenta.password">Contraseña</a>
			</li>
			<li>
				<a href="@routes.Cuenta.colores">Agenda</a>
			</li>
			<li class="active">
				<a href="@routes.Cuenta.cuenta">Cuenta</a>
			</li>
		</ul>
		
		@if(!Usuario.cuentaInactiva(usuario.correo)) {
			<form class="form-horizontal well span6" action="@routes.Cuenta.desactivarCuenta" enctype="multipart/form-data" method="post">
				<blockquote>
	  				<h4>¿Seguro que quieres desactivar tu cuenta?</h4><br>
					<p>
						Al desactivar tu cuenta desactivarás tu perfil, tu nombre, foto y demás cosas que hayas guardado 
						en Orgrup. Alguna información tuya aún puede ser visible a otros, como tu nombre y mensajes que enviaste.
					</p>
					<p>
						Cuando desactives tu cuenta ya no podras participar en grupos de trabajo, ni enviar mensajes a contactos.
						Tampoco podras enviar ni recibir invitaciones de contacto.
					</p>
				</blockquote>			
				<div class="form-actions">
					<a class="btn" href="@routes.Home.index">Cancelar</a>
					<button class="btn btn-primary pull-right" type="submit" id="fat-btn" data-loading-text="Desactivando..."> Desactivar </button>
				</div>			
			</form>
		} else {
			<div class="well span6">
				<h4>¿Desea reactivar su cuenta?</h4><br>
				<blockquote>
					<p>
						Al reactivar su cuenta podra participar en grupos de trabajo, agregar contactos y enviar mensajes. Ademas sera visible
						a los demas contactos para que le envien mensajes o lo agregen como amigo.
					</p>
				</blockquote>
				<div class="form-actions">
					<a class="btn" href="@routes.Home.index">Cancelar</a>
					<a class="btn btn-primary pull-right" href="@routes.Cuenta.activarCuenta()"  id="fat-btn" data-loading-text="Activando..."> Activar </a>
				</div>
			</div>
		}
	</div>

	<script type="text/javascript">
 	   	$('#fat-btn').on('click', function () {
 	   		$(this).button('loading')
 	   	});
 	</script>
}