@(usuario: Usuario, error: String, msj: String)

@app(title = "Actualizar perfil", usuario.nombre) {

    <div class="container">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="@routes.Cuenta.perfil">Perfil</a>
            </li>
            <li>
                <a href="@routes.Cuenta.password">Contraseña</a>
            </li>
            <li>
                <a href="@routes.Cuenta.colores">Agenda</a>
            </li>
            <li>
                <a href="@routes.Cuenta.notificaciones">Notificaciones</a>
            </li>
            <li>
                <a href="@routes.Cuenta.cuenta">Cuenta</a>
            </li>
        </ul>

        <form class="form-horizontal well span6" action="@routes.Cuenta.actualizaPerfil" enctype="multipart/form-data" method="post">
            <div class="control-group">
                <label class="control-label" for="nombre">Nombre Completo</label>
                <div class="controls">
                    <input class="input-xlarge" id="nombre" type="text" name="nombre" value="@usuario.nombre" maxlength="30" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="correo">Correo electr&oacutenico</label>
                <div class="controls">
                    <input class="input-xlarge disabled" disabled="disabled" id="correo" type="text" name="correo" value="@usuario.correo">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="telefono">Tel&eacutefono</label>
                <div class="controls">
                    <input class="input-xlarge" id="telefono" type="text" name="telefono" maxlength="15" value="@usuario.telefono" onkeypress="return soloNumeros(event)">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="leyenda">Sobre m&iacute</label>
                <div class="controls">
                    <textarea rows="6" class="input-xlarge" id="leyenda" maxlength="150" name="leyenda">@usuario.leyenda</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="imagen">Imagen de Perfil</label>
                <div class="controls">
                    <img style="width: 90px; height: 90px;" src="/assets/images/usuarios/@usuario.imagen" alt="imagen usuario">
                    <input class="input-file" id="imagen" type="file" name="imagen"><br>
                    tamaño maximo = 1 MB
                </div>
            </div>
            @if(error != "") {
                <div class="alert alert-error" id="error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <small>
                        <strong>Error!</strong>
                        @error
                        <script>$("input#pass1").focus();</script>
                    </small>
                </div>
            }
            @if(msj != "") {
                <div class="alert alert-success" id="msj">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <small>
                        <strong>Actualizado!</strong>
                        @msj
                    </small>
                </div>
            }
            <hr>
            <div class="pull-right">
                <a class="btn " href="@routes.Home.index">Cancelar</a>
                <button class="btn btn-primary" type="submit" id="fat-btn" data-loading-text="Guardando..."> Guardar </button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $('#fat-btn').on('click', function () {
            if($('input[name=nombre]').attr('value') >= "1") {
                $(this).button('loading')
            }
        });

        $('#nombre, #telefono, #leyenda').keypress(function() {
            $('#error').hide();
            $('#msj').hide();
        });
        
        function soloNumeros(evt)
        {
          var keyPressed = (evt.which) ? evt.which : event.keyCode
          return !(keyPressed > 31 && (keyPressed < 48 || keyPressed > 57));
        }
    </script>
}