@(usuario: Usuario, error: String)

@app(title = "Actualizar perfil", usuario.nombre) {

	<div class="container">
		<ul id="myTab" class="nav nav-tabs">
			<li class="active">
				<a href="@routes.Cuenta.perfil">Perfil</a>
			</li>
			<li>
				<a href="@routes.Cuenta.password">Contraseña</a>
			</li>
			<li>
				<a href="@routes.Cuenta.colores">Agenda</a>
			</li>
			<li>
				<a href="@routes.Cuenta.cuenta">Cuenta</a>
			</li>
		</ul>
		
		<form class="form-horizontal well span6" action="@routes.Cuenta.actualizaPerfil" enctype="multipart/form-data" method="post">
			<div class="control-group">
				<label class="control-label" for="nombre">Nombre Completo</label>
				<div class="controls">
					<input class="input-xlarge" id="nombre" type="text" name="nombre" value="@usuario.nombre" maxlength="60" required>
				</div>
			</div>
						
			<div class="control-group">
				<label class="control-label" for="correo">Correo electronico</label>
				<div class="controls">
					<input class="input-xlarge disabled" disabled="disabled" id="correo" type="text" name="correo" value="@usuario.correo">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="telefono">Telefono</label>
				<div class="controls">
					<input class="input-xlarge" id="telefono" type="text" name="telefono" value="@usuario.telefono">
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="leyenda">Sobre mi</label>
				<div class="controls">
					<textarea rows="6" class="input-xlarge" id="leyenda" name="leyenda">@usuario.leyenda</textarea>
				</div>
			</div>
						
			<div class="control-group">
				<label class="control-label" for="imagen">Imagen de Perfil</label>
				<div class="controls">
					<img style="width: 90px; height: 90px;" src="/assets/images/usuarios/@usuario.imagen" alt="imagen usuario">
					<input class="input-file" id="imagen" type="file" name="imagen"><br>
					tamaño maximo = 1 MB
				</div>
			</div>
						
			<div class="control-group>">
				<div class="controls">
					<span style="color: red;">@error</span>
				</div>
			</div>

			<div class="form-actions">
				<a class="btn" href="@routes.Home.index">Cancelar</a>
				<button class="btn btn-primary pull-right" type="submit" id="fat-btn" data-loading-text="Guardando..."> Guardar </button>
			</div>			
		</form>
	</div>
	
	<script type="text/javascript">
 	   	$('#fat-btn').on('click', function () {
 	   		if($('input[name=nombre]').attr('value') >= "1") {
 	   			$(this).button('loading')
 	   		}
 	   	})
 	</script>
}