@main(title="Programadores Orgrup"){
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Programadores Orgrup</title>
<style type="text/css">

#titulo{	text-align:center;
			font-size:2em;
			font-weight:bold;}
			
#nombres{	margin-top: 50px;
			margin-left: 400px;
			width: 900px;
			border-radius:15px;
			}

</style>
</head>

<body>
<div id="titulo">Creadores y fundadores de Orgrup</div>
<div id="nombres">

<table cellpadding="10">
<tr><td>Victor Leonardo Casalli Fuentes</td><td><img src="@routes.Assets.at("images/Mail.png")">&nbspl.casalli&#64;hotmail.com</td><td><img src="@routes.Assets.at("images/twitter.png")">&nbsp<a href="https://twitter.com/LeoCasalli" target="_blank">&#64;LeoCasalli</a></td></tr>
<tr><td>Daniel Alejandro Rivera Soto</td><td><img src="@routes.Assets.at("images/Mail.png")">&nbspdanieldk8&#64;gmail.com</td><td><img src="@routes.Assets.at("images/twitter.png")">&nbsp<a href="https://twitter.com/DanielRiveraS89"target="_blank">&#64;DanielRiveraS89</a></td></tr>
<tr><td>Rodolfo Andres Santander Sepulveda&nbsp&nbsp</td><td><img src="@routes.Assets.at("images/Mail.png")">&nbsprodolfo.santander06&#64;gmail.com&nbsp&nbsp</td><td><img src="@routes.Assets.at("images/twitter.png")">&nbsp<a href="https://twitter.com/chin0o6" target="_blank">&#64;chin0o6</a></td></tr>
</table>
 
</div>
<br>
<br>
</body>
</html>
}