<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Programadores Orgrup</title>
<style type="text/css">

#titulo{	text-align:center;
			font-size:2em;
			font-weight:bold;}
			
#nombres{	margin-top: 50px;
			margin-left: 50px;}

</style>
</head>

<body>
<div id="titulo">Creadores y fundadores de Orgrup.</div>
<div id="nombres">
Victor Leonardo Casalli Fuentes: Correo l.casallihotmail.com twitter<br><br>
Daniel Alejandro Rivera Soto: Correo rodolfo.santander06gmail.com twitter<br><br>
Rodolfo Andres Santander Sepulveda: Correo danieldk8gmail.com twitter <br><br>
</div>
</body>
</html>