@main(title = "Contacto") {	

	<style type="text/css">
		#estilo {
		border-radious:12px;
		}

		
	</style>
	
	<div class="container">
		<div class="row">
			<div class="span9" style="float:right;">
				<div class="span6" style="float:left;" id="estilo">
					<fieldset>
						<legend>Contacto</legend>
							<form id="form1" action="@routes.Application.guardaMensaje" class="well" method="post">
								<label for="remitente">Nombre</label>
								<input type="text" class="span3" placeholder="Nombre" name="remitente" id="remitente" required><br>
								<label for="correo">Correo</label>
								<input type="text" class="span3" placeholder="correo" name="correo" id="correo" required><br>
								<label for="mensaje">Mensaje</label>
								<textarea name="mensaje" id="mensaje" class="input-xlarge" rows="4"></textarea><br>
								<button type="submit" class="btn">Enviar mensaje</button>
							</form>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	
}