@main(title = "Contacto") {	

	<style type="text/css">
		#estilo {
		border-radious:12px;
		}

		
	</style>
	
	<div class="row">
		<div class="span4" style="float:left;">
			<div class="span8" style="float:right id="estilo">
				<form id="form1" action="" class="well" >
					<label for="remitente">Nombre</label>
					<input type="text" class="span3" placeholder="Nombre" name="remitente" id="remitente" required><br>
					<label for="correo">Correo</label>
					<input type="text" class="span3" placeholder="correo" name="correo" id="correo" required><br>
					<label for="mensaje">Mensaje</label>
					<input type="text" class="span3" placeholder="mensaje" name="mensaje" id="mensaje" required><br>
					<input type="submit" class="btn">
				</form>
			</div>
		</div>
	</div>
	
}