@main(title = "Ingresar") {

    <!-- Simple Formulario para ingresar -->

    <div class="container">
        <div class="row">
            <div class="span8" style="float:right">
                <div class="span4" style="float:left;">

                    <fieldset>
                        <legend>Ingresar</legend>
            			<form class="well" action="@routes.Comprobar.comprobarLogin" method="post">
                			<label for="correo">Correo</label>
                			<input type="text" class="span3" placeholder="Correo" name="correo" id="correo"><br>
                			<label for="pass">Contraseña</label>
                			<input type="password" class="span3" placeholder="Contraseña" name="pass" id="pass"><br>
                			<button type="submit" class="btn">Entrar</button>
              			</form>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>
	
}