@(loginForm: Form[Usuario])
@import helper._

@main(title = "Longi") {
    
    @helper.form(action = routes.Login.login) {
        
        <fieldset>
            <legend>Account informations</legend>
            
            @inputText(
                loginForm("nombre"), 
                '_label -> "Nombre", 
                '_help -> "Please choose a valid username.",
                '_error -> loginForm.globalError
            )
            
            @inputText(
                loginForm("email"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
            
            @inputPassword(
                loginForm("password"), 
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            
            @inputPassword(
                loginForm("repeatPassword"), 
                '_label -> "Repeat password",
                '_help -> "Please repeat your password again.",
                '_error -> loginForm.error("password")
            )
            
        </fieldset>
                
        <div class="actions">
            <input type="submit" class="btn primary" value="Sign Up">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
}
PICOOOOOO!!!
