@(error: String)


@main(title = "Recuperar") {
	
	<div class="container">
        <div class="row">
            <div class="span8" style="float:right">
                <div class="span4" style="float:left;">

                    <fieldset>
                        <legend>Recuperar Contraseña</legend>
            			<form class="well" action="@routes.Verificador.enviaDatos" method="post">  
            			         
                			<label for="correo">Correo</label>
                			<input type="email" class="span3" placeholder="Correo" name="correo" required><br>
                			<span style="color: red;">@error</span><br>
                			<button type="submit" class="btn">Enviar</button>
                			
              			</form>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>
	
	
}