@main(title = "Ingresar") {
<head>
<style type="text/css">

#titulo {	text-align:center;
			font-size:3em;
			font-weight:bold }
			
#texto  {	text-align:center;
			margin-top: 50px;
			margin-left: 430px;
			background-color:rgb(245,245,245);
			width: 500px;
			border-radius:15px;
			
		}

</style>
</head>

<body>
	<div id="titulo">Gracias por unirse a Orgrup</div>
	<div id="texto">Bienvenidos a la red de Orgrup, red de agendas que te permitirá llevar un registro <br>
					de todas tus actividades, podrás buscar amigos y colegas para gestionar reuniones <br>
					de forma automática, subir apuntes, documentos y más!<br><br>
					<b>Confirme su cuenta a través del enlace enviado a su correo.</b></div>
					<br>
					<br>
</body>

}