@main(title = "Ingresar") {
<head>
	<style type="text/css">
  mensaje {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #d8da3d }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  </style>
</head>

<body>
	<h1 id="mensaje">Gracias por unirse a Orgrup</h1>
	<p>Te damos la bienvenida a esta red de agendas donde contaras con varios servicios
	como llevar un registro de tus actividades, recordatorios de las cosas que debes hacer,
	buscar a tus amigos y colegas para coordinar reuniones de forma automatica, subir apuntes y documentos. </p>
</body>

}