@(error: String)

@main(title = "Registro") {



    <!-- Simple Formulario para ingresar -->
       
    <style type="text/css">
		form{background:white;border:1px solid #ccc;padding:22px 38px;width:265px}
		label{color:#d25959;display:block;font-size:.8em;font-weight:600}
		input{border:1px solid #ccc;box-shadow:inset #ccc 0 0 5px;cursor:pointer;font-style:italic;margin:8px 0 20px;padding:7px;width:250px}
		.enviar{background:#d25959;box-shadow:none;color:white;margin-bottom:0;width:100px}
		.enviar:hover{text-decoration:underline}
		span{display:block;font-size:.8em;margin:0px 0 10px;padding:5px 0 5px 11px;width:200px}
		.confirmacion{background:#C6FFD5;border:1px solid green;}
		.negacion{background:#ffcccc;border:1px solid red}
    </style> 
    
    
    <div class="container">
        <div class="row">
            <div class="span8" style="float:right">
                <div class="span4" style="float:left;">

                    <fieldset>
                        <legend>Registro</legend>
                        <form class="well" action="@routes.Application.comprobarRegistro" method="post">
                        	<label for="nombre">Nombre</label>
                        	<input type="text" class="span3" placeholder="Nombre" name="nombre" id="nombre"required/><br>
                            <label for="correo">Correo</label>
                			<input type="email" class="span3" placeholder="Correo" name="correo" id="correo" required><br>
                			<label for="pass">Contraseña</label>
                			<input type="password" class="span3" placeholder="Contraseña" name="pass" id="pass" required><br>
                			<label for="pass2">Confirmar contraseña</label>
                			<input type="password" class="span3" placeholder="Confirmar contraseña" name="pass2" id="pass2" required><br><br>
                   			<span style="color: red;">@error</span><br>
                            <button type="submit" class="btn">Registrarse</button>
                        </form>
                    </fieldset>
                    
	<script type="text/javascript"></script>
	<script type="text/javascript">

		jQuery(function($){
		//variables
		var pass1 = $('[name=pass]');
		var pass2 = $('[name=pass2]');
		var confirmacion = "Las contraseñas si coinciden";
		var longitud = "La contraseña debe estar formada entre 6-20 carácteres(ambos inclusive)";
		var negacion = "No coinciden las contraseñas";
		var vacio = "La contraseña no puede estar vacía";

		//creo el elemento span
		var span = $('<span></span>').insertAfter(pass2);
		//oculto por defecto el elemento span
		span.hide();

		//función que comprueba las dos contraseñas
		function coincidePassword(){
			var valor1 = pass1.val();
			var valor2 = pass2.val();
			//muestro el span
			span.show().removeClass();
			//condiciones dentro de la función
			if(valor1 != valor2){
				span.text(negacion).addClass('negacion');
			}
			if(valor1.length==0 || valor1==""){
				span.text(vacio).addClass('negacion');
			}
			if(valor1.length<6 || valor1.length>10){
				span.text(longitud).addClass('negacion');
			}
			if(valor1.length!=0 && valor1==valor2){
				span.text(confirmacion).addClass('confirmacion');
			}
		}

		//ejecuto la función al soltar la tecla
		pass2.keyup(function(){
			coincidePassword();
		});
	});
	</script>
	
                </div>
            </div>
        </div>
    </div>
    
} 
