@(error: String)

@main(title = "Registro") {

    <!-- Simple Formulario para ingresar -->
       
    <div class="container">
        <div class="row">
            <div class="span8" style="float:right">
                <div class="span4" style="float:left;">

                    <fieldset>
                        <legend>Registro</legend>
                        <form class="well" action="@routes.Application.comprobarRegistro" method="post">
                        	<label>Nombre</label>
                        	<input type="text" class="span3" placeholder="Nombre" name="nombre" required/><br>
                            <label for="correo">Correo</label>
                			<input type="email" class="span3" placeholder="Correo" name="correo" required><br>
                			<label for="pass">Contraseña</label>
                			<input type="password" class="span3" placeholder="Contraseña" name="pass" required><br>
                			<span style="color: red;">@error</span><br>
                            <button type="submit" class="btn">Registrarse</button>
                        </form>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>
    
}